<div class="page" data-name="add_direccion">
  <div class="navbar">
    <div class="navbar-inner" style="background-color: white !important;">
      <div class="left">
        <a href="#" class="link back">
           <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title TitleAddAddress" style="color:#0F7BC3;font-size: 17px;">Agregar nueva dirección</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block">
      <p style="margin-bottom: 0;color: #CE1126;" class="ExmapAddTrl">Direccion de ejemplo :</p>
      <p style="margin-top: 0;color: #0038A8;">Cll Avenida venezuela #22, Santo domingo este, 11901, Republica Dominicana</p>
      <p style="margin-bottom: 0;color: #CE1126;" class="ExmapStrc">Estrcutura de ejemplo :</p>
      <p style="margin-top: 0;color: #0038A8;" class="sczcTrl">Calle, Ciudad, Codigo Postal, Pais</p>

      <form class="list" id="my-form">
        <ul>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label AddLine1" style="color: #CE1126;">Dirección</div>
                <div class="item-input-wrap">
                  <input type="text" name="AddressLine1Add" id="AddressLine1Add" placeholder="Cll Avenida venezuela #22">
                  <input type="hidden" name="lat" id="lat" value="0">
                  <input type="hidden" name="lon" id="lon" value="0">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label CityTrl" style="color: #CE1126;">Ciudad</div>
                <div class="item-input-wrap">
                  <input type="text" name="CityAdreess" id="CityAdreess" placeholder="Distrito Nacional">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label CityTrl" style="color: #CE1126;">Numero de casa</div>
                <div class="item-input-wrap">
                  <input type="number" name="NumberAdreess" id="NumberAdreess" placeholder="0">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col">
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label ZipCodeTrl" style="color: #CE1126;">Codigo Postal</div>
                    <div class="item-input-wrap">
                      <input type="text" name="zipCodeAddress" id="zipCodeAddress" placeholder="00000" maxlength="5">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label TypeTrl" style="color: #CE1126;">Tipo</div>
                    <div class="item-input-wrap">
                      <select name="typeAdress" id="typeAdress">
                        <option value="Hogar" selected class="HomeAdd">Hogar</option>
                        <option value="Trabajo" class="JodAdd">Trabajo</option>
                         <option value="Otro" class="Others">Otros</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label NoteTrl" style="color: #CE1126;">Nota</div>
                <div class="item-input-wrap">
                  <textarea id="noteAddress" name="noteAddress" class="gpbTrl" placeholder="Código de puerta, estacionamiento, edificio, etc."></textarea>
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="row" style="margin-bottom: 10px;display: none">
        <div class="col">
          <button class="col button button-fill color-green dis captureCurrentTrl" id="submitOK" disabled>Capture current location</button>
          <input type="hidden" name="UbicacionActual" class="UbicacionActual" id="UbicacionActual">
          <div id="map" style="width: 100%;height: 300px;display: none"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="ccol button button-small button-outline" id="addAddress" style="margin:0 auto;width: 80%;border: solid 1px #d02122;color: #d02122">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArIHLXR2_xC0ousets3RUkMie8Prg5wN4&callback=initMap"></script>