<div class="page" data-name="add_dependientes">
  <div class="navbar" style="background-color: white !important;height: 0;">
      <div class="navbar-inner" style="background-color: white !important">
        <div class="left sliding">
          <a href="#"  class="back link" style="min-width: 48px;">
            <i class="material-icons">arrow_back</i>
          </a>
        </div>
        <div class="title sliding titi" style="color:#0F7BC3;font-size: 17px;"></div>
        <div class="right"></div>
      </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block">
      <div class="row">
         <div class="col">
           <div class="list inline-labels no-hairlines-md" style="margin: 0;">
               <ul>
                 <li class="item-content item-input">
                   <div class="item-inner">
                     <div class="item-title item-label">Nombre :</div>
                     <div class="item-input-wrap">
                       <input type="text" name="nombreDependiente" id="nombreDependiente">
                       <input type="hidden" name="idParent" id="idParent">
                       <span class="input-clear-button"></span>
                     </div>
                   </div>
                 </li>
                 <li class="item-content item-input">
                   <div class="item-inner">
                     <div class="item-title item-label">Apellido :</div>
                     <div class="item-input-wrap">
                       <input type="text" name="apellidoDependiente" id="apellidoDependiente" >
                       <span class="input-clear-button"></span>
                     </div>
                   </div>
                 </li>
                 <li class="item-content item-input">
                   <div class="item-inner">
                     <div class="item-title item-label">Edad :</div>
                     <div class="item-input-wrap">
                       <input type="number" id="edadDependiente" name="edadDependiente" >
                       <span class="input-clear-button"></span>
                     </div>
                   </div>
                 </li>
                 <li class="item-content item-input">
                   <div class="item-inner">
                     <div class="item-title item-label">Parentesco</div>
                     <div class="item-input-wrap input-dropdown-wrap">
                      <select name="parentescoID" id="parentescoID"></select>
                    </div>
                   </div>
                 </li>
               </ul>
            </div>
            <div class="row" style="margin-top: 30px;">
              <div class="col">
                <button class="col button button-fill color-orange SaveParent" style="margin:0 auto;width: 80%;border: solid 1px #d02122;color: white">Guardar</button>
                <button class="col button button-fill color-orange EditParent" style="margin:0 auto;width: 80%;border: solid 1px #d02122;color: white">Editar</button>
              </div>
            </div>
         </div>
       </div>
    </div>
  </div>
</div>
