<div class="page" data-name="busqueda">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons" style="color:#0F7BC3;">chevron_left</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;width: 100%;">
         <img src="img/logo.png" style="width: 70px;padding-top: 10px;margin-left: 28%;">
      </div>
      <div class="subnavbar">
        <!-- Searchbar with auto init -->
        <form class="searchbar">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search" />
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Cancel</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <!-- Searchbar backdrop -->
    <div class="searchbar-backdrop"></div>
    <!-- hide-on-search element -->
    <div class="block searchbar-hide-on-search">
      <p>Realiza la búsqueda por nombre de tu especialista preferido.</p>
    </div>
    <!-- search target list -->
    <div class="list media-list searchbar-found">
      <!--<ul id="busquedaEspecialista"></ul>-->
      <ul>
        <li>
          <a href="/perfil-doctor/" class="item-link item-content">
            <div class="item-media">
              <img src="./img/doctorImg.jpg" width="80"/>
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title" style="font-weight: bold">Lic. Marcos Castro</div>
                <div class="item-after">
                  <img src="img/star.png" style="width: 15px;height: 15px;vertical-align: middle;display: inline-block;padding-right: 5px;padding-top: 2px;">
                  <span style="vertical-align: middle;display: inline-block;font-size: 13px">5</span> 
                </div>
              </div>
              <div class="item-subtitle" style="font-style: italic;color: darkgray;">Dentista</div>
              <div class="item-text">Disponible</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/perfil-doctor/" class="item-link item-content">
            <div class="item-media">
              <img src="./img/doctorImg.jpg" width="80"/>
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title" style="font-weight: bold">Lic. Hector Morales</div>
                <div class="item-after">
                  <img src="img/star.png" style="width: 15px;height: 15px;vertical-align: middle;display: inline-block;padding-right: 5px;padding-top: 2px;">
                  <span style="vertical-align: middle;display: inline-block;font-size: 13px">5</span> 
                </div>
              </div>
              <div class="item-subtitle" style="font-style: italic;color: darkgray;">Otorrino</div>
              <div class="item-text">Disponible</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content" style="opacity:0.5;" onclick="erroGoMenu()">
            <div class="item-media">
              <img src="./img/doctorImg.jpg" width="80"/>
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title" style="font-weight: bold">Lic. Juan Ernesto Plutarco</div>
                <div class="item-after">
                  <img src="img/star.png" style="width: 15px;height: 15px;vertical-align: middle;display: inline-block;padding-right: 5px;padding-top: 2px;">
                  <span style="vertical-align: middle;display: inline-block;font-size: 13px">5</span> 
                </div>
              </div>
              <div class="item-subtitle" style="font-style: italic;color: darkgray;">Cirujano</div>
              <div class="item-text">No disponinble</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- Nothing found message -->
    <div class="block searchbar-not-found">
      <div class="block-inner">Nothing found</div>
    </div>
  </div>
</div>