<div class="page" data-name="busquedaCategoria">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons" style="color:#FBB540;">chevron_left</i>
        </a>
      </div>
      <div class="title" style="color: #FBB540;"></div>
      <div class="subnavbar">
        <!-- Searchbar with auto init -->
        <div class="searchbar-backdrop"></div>
        <form class="searchbar" style="background-color: transparent;box-shadow: none;">
          <div class="searchbar-inner" style="margin-right: 5%;height: 80%;">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Buscar..." style="background-color: #ece5e5;border-radius: 15px;">
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Cancelar</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <!-- Searchbar backdrop -->
    <div class="searchbar-backdrop"></div>
    <!-- hide-on-search element -->
    <div class="block searchbar-hide-on-search">
      <p>Realiza la búsqueda por categoría de tu comida favorita y procede realizar tu orden.</p>
    </div>
    <!-- search target list -->
    <div class="list media-list searchbar-found">
      <ul id="busquedaCategorias"></ul>
    </div>
    <!-- Nothing found message -->
    <div class="block searchbar-not-found">
      <div class="block-inner">Nothing found</div>
    </div>
  </div>
</div>