<div class="page" data-name="cambiarPass">
    <div class="elevation-6" style="background-color: #0074FE; height: auto;">
        <div style="display: flex; align-items: center; margin-left: 25px; margin-bottom: -40px;">
          <div style="float: left;">
            <a href="/" class="link back" style="padding: 0 16px;min-width: 48px;">
              <i style="color: white" class="material-icons">navigate_before</i>
            </a>
          </div>
          <div style="float: right;">
            <p style="color: white;font-size: 20px;"><strong>Cambio de contraseña</strong></p>
          </div>
        </div>
      </div>
    <div class="page-content">
        <div class="block" style="margin-top: 20%;">
            <div class="list no-hairlines-md">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Contraseña actual</div>
                            <div class="item-input-wrap ver1">
                                <input class="contraActual" type="password" placeholder="Contraseña actual" />
                                <span><i class="material-icons" style="color: #CE1126;position: absolute;top: 5px;right: 25px;">remove_red_eye</i></span>
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Contraseña nueva</div>
                            <div class="item-input-wrap ver2">
                                <input class="contra1" type="password" placeholder="Contraseña nueva" />
                                <span><i class="material-icons" style="color: #CE1126;position: absolute;top: 5px;right: 25px;">remove_red_eye</i></span>
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Confirmar nueva contraseña</div>
                            <div class="item-input-wrap ver3">
                                <input class="contra2" type="password" placeholder="Confirmar nueva contraseña" />
                                <span><i class="material-icons" style="color: #CE1126;position: absolute;top: 5px;right: 25px;">remove_red_eye</i></span>
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="col button button-fill color-orange" id="cambiarContra" style="width:80%;margin: 0 auto;">Enviar</button>
        </div>
    </div>
</div>