<div class="page" data-name="centros">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="/" class="link back">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;">Centros</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="searchbar-backdrop"></div>
    <form class="searchbar busquedCentros" style="background-color: transparent;box-shadow: none;">
      <div class="searchbar-inner" style="margin-left: 5%;margin-right: 5%;width: 90%;height: 80%;">
        <div class="searchbar-input-wrap">
          <input type="search" placeholder="Buscar centros" style="background-color: #ece5e5;border-radius: 15px;">
          <i class="searchbar-icon"></i>
          <span class="input-clear-button"></span>
        </div>
        <span class="searchbar-disable-button if-not-aurora">Cancelar</span>
      </div>
    </form>
    <div class="block searchbar-hide-on-search">
      <p>Realiza la búsqueda por nombre de tu centro medico preferido.</p>
    </div>
    <input type="hidden" name="ConserIdCentro" id="ConserIdCentro">
    <div class="list no-hairlines no-hairlines-between media-list searchbar-found" style="margin-bottom: 80px;">
      <ul id="centroPopulares">
        <img src="../../" alt="">
        <li>
          <a href="#" class="item-link item-content skeleton-text skeleton-effect-fade">
            <div class="item-media">
             <div class="skeleton-block" style="width: 40px; height: 40px; border-radius: 50%"></div>
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Nombre del centro</div>
              </div>
              <div class="item-subtitle">Abre: 00:00 AM Cierra: 00:00 PM</div>
              <div class="item-text">Calle , numero, ciudad, codigo postal, pais ect</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content skeleton-text skeleton-effect-fade">
            <div class="item-media">
             <div class="skeleton-block" style="width: 40px; height: 40px; border-radius: 50%"></div>
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Nombre del centro</div>
              </div>
              <div class="item-subtitle">Abre: 00:00 AM Cierra: 00:00 PM</div>
              <div class="item-text">Calle , numero, ciudad, codigo postal, pais ect</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content skeleton-text skeleton-effect-fade">
            <div class="item-media">
             <div class="skeleton-block" style="width: 40px; height: 40px; border-radius: 50%"></div>
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Nombre del centro</div>
              </div>
              <div class="item-subtitle">Abre: 00:00 AM Cierra: 00:00 PM</div>
              <div class="item-text">Calle , numero, ciudad, codigo postal, pais ect</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>