<div class="page" data-name="chat">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title titleChange">Messages</div>
    </div>
  </div>
  <div class="toolbar messagebar">
    <div class="toolbar-inner">
      <div class="messagebar-area">
        <textarea class="resizable" placeholder="Escribir mensaje"></textarea>
      </div>
      <a class="link send-link" href="#" @click=${sendMessage}>Enviar</a>
    </div>
  </div>
  <div class="page-content messages-content">
    <div class="messages">
      <div class="messages-title"><b>Sunday, Feb 9,</b> 12:58</div>
      <div class="message message-sent">
        <div class="message-avatar"
        style="background-image:url(https://cdn.framework7.io/placeholder/people-100x100-7.jpg)"></div>
        <div class="message-content">
          <div class="message-name">John Doe</div>
          <div class="message-header">Message header</div>
          <div class="message-bubble">
            <div class="message-text-header">Text header</div>
            <div class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <div class="message-text-footer">Text footer</div>
          </div>
          <div class="message-footer">Message footer</div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar"
        style="background-image:url(https://cdn.framework7.io/placeholder/people-100x100-7.jpg)"></div>
        <div class="message-content">
          <div class="message-name">John Doe</div>
          <div class="message-header">Message header</div>
          <div class="message-bubble">
            <div class="message-text-header">Text header</div>
            <div class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <div class="message-text-footer">Text footer</div>
          </div>
          <div class="message-footer">Message footer</div>
        </div>
      </div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-text">Hi, Kate</div>
          </div>
        </div>
      </div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-text">How are you?</div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar"
        style="background-image:url(https://cdn.framework7.io/placeholder/people-100x100-9.jpg)"></div>
        <div class="message-content">
          <div class="message-name">Kate</div>
          <div class="message-bubble">
            <div class="message-text">Hi, I am good!</div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar"
        style="background-image:url(https://cdn.framework7.io/placeholder/people-100x100-7.jpg)"></div>
        <div class="message-content">
          <div class="message-name">Blue Ninja</div>
          <div class="message-bubble">
            <div class="message-text">Hi there, I am also fine, thanks! And how are you?</div>
          </div>
        </div>
      </div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-text">Hey, Blue Ninja! Glad to see you ;)</div>
          </div>
        </div>
      </div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-text">Hey, look, cutest kitten ever!</div>
          </div>
        </div>
      </div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-image">
              <img src="https://cdn.framework7.io/placeholder/cats-200x260-4.jpg"
              style="width:200px; height: 260px" />
            </div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar"
        style="background-image:url(https://cdn.framework7.io/placeholder/people-100x100-9.jpg)"></div>
        <div class="message-content">
          <div class="message-name">Kate</div>
          <div class="message-bubble">
            <div class="message-text">Nice!</div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar"
        style="background-image:url(https://cdn.framework7.io/placeholder/people-100x100-9.jpg)"></div>
        <div class="message-content">
          <div class="message-name">Kate</div>
          <div class="message-bubble">
            <div class="message-text">Like it very much!</div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar"
        style="background-image:url(https://cdn.framework7.io/placeholder/people-100x100-7.jpg)"></div>
        <div class="message-content">
          <div class="message-name">Blue Ninja</div>
          <div class="message-bubble">
            <div class="message-text">Awesome!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
