<div class="page" data-name="factura">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="/" class="link back">
          <i class="f7-icons" style="color:#FBB540;">arrow_left</i>
        </a>
      </div>
      <div class="title" style="color: #FBB540;" id="titlee"></div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block-title" style="text-align: center;font-weight: bold">Eat Soon</div>
    <div class="block" style="background-color: white;">
      <div class="row no-gap" style="padding-left: 30px;padding-right: 30px;">
        <div class="col" style="font-weight: bold;float: left;">No. Factura:</div>
        <div class="col" style="padding-left: 46px;" id="id"></div> <!-- Numero de factura -->
      </div>
      <div class="row no-gap" style="padding-left: 30px;padding-right: 30px;">
        <div class="col" style="font-weight: bold;float: left;">Fecha:</div>
        <div class="col" style="padding-left: 46px;" id="fecha"></div> <!-- fecha de emision -->
      </div>
      <div class="row no-gap" style="padding-left: 30px;padding-right: 30px;">
        <div class="col" style="font-weight: bold;float: left;">Hora:</div>
        <div class="col" style="padding-left: 46px;" id="hora"></div> <!-- Hora de emision -->
      </div>
      <div class="row no-gap" style="text-align: center;">
        <div class="col">

        </div>
      </div>
      <hr style="border-top: 1px dashed #757575;width: 85%;"> 
      <div class="row no-gap" style="padding-left: 30px;padding-right: 30px;">
        <div class="col" style="padding-right: 40px;padding-bottom: 10px;font-weight: bold;float: left;">Cliente:</div>
        <div class="col" id="nombre"></div> <!-- Nombre del cliente -->
      </div>
      <div class="row no-gap" style="padding-left: 30px;padding-right: 30px;">
        <div class="col" style="padding-bottom: 10px;font-weight: bold;">Establecimiento:</div>
        <div class="col" id="restaurante">Eat Soon</div>
      </div>
      <hr style="border-top: 1px dashed #757575;width: 85%;">
      <!-- Detalle -->
      <div class="row no-gap" style="padding-left: 30px;padding-right: 30px;">
        <div class="col" style="padding-bottom: 10px;font-weight: bold;">Art.</div>
        <div class="col" style="padding-bottom: 10px;font-weight: bold;">Cant.</div>
        <div class="col" style="padding-bottom: 10px;font-weight: bold;">Precio</div>
      </div>
      <!-- Info here del detalle -->
      <div id="resultado"></div>
      <div class="row no-gap" style="padding-left: 30px;padding-right: 30px;margin-top: 15px;">
        <div class="col" style="font-weight: bold;">Sub-Total:</div>
        <div class="col" style="font-weight: bold;padding-left: 46px;" id="subtotal"></div>
      </div>
      <div class="row no-gap" style="padding-left: 30px;padding-right: 30px;">
        <div class="col" style="font-weight: bold;">Delivery:</div>
        <div class="col" style="font-weight: bold;padding-left: 46px;" id="deliveryF"></div>
      </div>
      <div class="row no-gap" style="padding-left: 30px;padding-right: 30px;">
        <div class="col" style="font-weight: bold;">State tax:</div>
        <div class="col" style="font-weight: bold;padding-left: 46px;" id="taxStateF"></div>
      </div>
      <div class="row no-gap" style="padding-left: 30px;padding-right: 30px;">
        <div class="col" style="font-weight: bold;">Municipal:</div>
        <div class="col" style="font-weight: bold;padding-left: 46px;" id="taxMunicipalF"></div>
      </div>
      <div class="row no-gap" style="padding-left: 30px;padding-right: 30px;">
        <div class="col" style="padding-bottom: 10px;font-weight: bold;">Total:</div>
        <div class="col" style="padding-bottom: 10px;font-weight: bold;padding-left: 46px;" id="total"></div>
      </div>
      <div class="row no-gap" style="padding-left: 15px;padding-right: 30px;margin-top: 15px;">
        <div class="col" style="padding-bottom: 5px;font-weight: bold;">
          <img src="img/Mi_App.png" style="width: 80%;">
        </div>
        <div class="col" style="padding-bottom: 5px;">
          <p style="
                      text-align: justify;
                      font-size: 9px;
                      margin-top: 10px;">¡Gracias por escoger nuestro servicio! Conserve este documento como único válido para reclamos. Cualquier comentario o pregunta puede llamar al 787-602-0707 o escribir al email contact@eatsoonpr.com</p>
        </div>
      </div>
    </div>
  </div>
</div>