<div class="page" data-name="formResult">
    <div class="elevation-6" style="background-color: #0074FE; height: auto;">
        <div style="display: flex; align-items: center; margin-left: 25px;">
            <div style="float: left;">
                <a href="#" class="link back" style="padding: 0 16px;min-width: 48px;">
                    <i style="color: white" class="material-icons">navigate_before</i>
                </a>
            </div>
            <div style="float: right;">
                <p style="color: white;font-size: 20px;"><strong>Resumen de formulario</strong></p>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="block">
            <div class="list" style="margin-bottom: 30%;">
                <center>
                    <div class="block-title"
                        style="padding: 10px; text-align: center;color: #0074FE; border: 1px solid #0074FE; border-radius: 30px; width: 65%; font-size: 17px; font-weight: 100; overflow: initial;">
                        Formulario general
                    </div>
                </center>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="nombreForm" style="white-space: initial"></span>
                                                <div class="item-footer">Nombre</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="cedulaForm" style="white-space: initial"></span>
                                                <div class="item-footer">Cedula</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="nacionalidadForm" style="white-space: initial"></span>
                                                <div class="item-footer">Nacionalidad</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="telForm" style="white-space: initial"></span>
                                                <div class="item-footer">Telefono</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="celForm" style="white-space: initial"></span>
                                                <div class="item-footer">Celular</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="sexoForm" style="white-space: initial"></span>
                                                <div class="item-footer">Sexo</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="edadForm" style="white-space: initial"></span>
                                                <div class="item-footer">Edad</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="estcivilForm" style="white-space: initial"></span>
                                                <div class="item-footer">Estado civil</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="seguroForm" style="white-space: initial"></span>
                                                <div class="item-footer">Seguro</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="nacForm" style="white-space: initial"></span>
                                                <div class="item-footer">Lugar de nacimiento</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="resactualForm" style="white-space: initial"></span>
                                                <div class="item-footer">Residencia actual</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="religionForm" style="white-space: initial"></span>
                                                <div class="item-footer">Religion</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="ocupacionForm" style="white-space: initial"></span>
                                                <div class="item-footer">Ocupacion</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="toficioForm" style="white-space: initial"></span>
                                                <div class="item-footer">Tiempo en el oficio</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="mconsultaForm" style="white-space: initial"></span>
                                                <div class="item-footer">Motivo de la consulta</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="antecedentesForm" style="white-space: initial"></span>
                                                <div class="item-footer">Antecedentes</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="apreviasForm" style="white-space: initial"></span>
                                                <div class="item-footer">Atenciones previas</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="alergiasForm" style="white-space: initial"></span>
                                                <div class="item-footer">Alergias</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul style="width: 100%;">
                        <li>
                            <div class="item-content">
                                <div class="item-inner" style="height: 70px; display: flex; justify-content: center;">
                                    <div class="item-title" style="font-size: 14px;">
                                        <span class="aspectosgForm" style="white-space: initial"></span>
                                        <div class="item-footer">Aspectos generales</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <center>
                    <div class="block-title"
                        style="padding: 10px; text-align: center;color: #0074FE; border: 1px solid #0074FE; border-radius: 30px; width: 65%; top: -10px; font-size: 17px; font-weight: 100; overflow: initial;">
                        Formulario de antecedentes
                    </div>
                </center>
                <div class="block-title">Antecedentes patologicos personales</div>
                <div>
                    <div class="list" id="listENf">
                    </div>
                </div>
                <div class="block-title">Antecedentes patologicos hereditarios</div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="padreForm" style="white-space: initial"></span>
                                                <div class="item-footer">Padre</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="madreForm" style="white-space: initial"></span>
                                                <div class="item-footer">Madre</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="hermanoForm" style="white-space: initial"></span>
                                                <div class="item-footer">Hermanos</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="tioForm" style="white-space: initial"></span>
                                                <div class="item-footer">Tios</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul style="width: 100%;">
                        <li>
                            <div class="item-content">
                                <div class="item-inner" style="height: 70px; display: flex; justify-content: center;">
                                    <div class="item-title" style="font-size: 14px;">
                                        <span class="abueloForm" style="white-space: initial"></span>
                                        <div class="item-footer">Abuelos</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="block-title">Otros antecedentes</div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="aquirurgicosForm" style="white-space: initial"></span>
                                                <div class="item-footer">Antecedentes Quirurgicos</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="hiperForm" style="white-space: initial"></span>
                                                <div class="item-footer">Reaccion de Hipersensibilidad</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="atraumaForm" style="white-space: initial"></span>
                                                <div class="item-footer">Antecedentes de Traumas</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="htoxicoForm" style="white-space: initial"></span>
                                                <div class="item-footer">Habitos Toxicos</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="hospiForm" style="white-space: initial"></span>
                                                <div class="item-footer">Hospitalizaciones</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="operacitugiaForm" style="white-space: initial"></span>
                                                <div class="item-footer">Operaciones - Cirugias</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="pesoactualForm" style="white-space: initial"></span>
                                                <div class="item-footer">Peso Actual</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="pesohabitualForm" style="white-space: initial"></span>
                                                <div class="item-footer">Peso Habitual</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="peso6mesesForm" style="white-space: initial"></span>
                                                <div class="item-footer">Peso perdido en los ultimos 6 meses</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="tallaForm" style="white-space: initial"></span>
                                                <div class="item-footer">Talla</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul style="width: 100%;">
                        <li>
                            <div class="item-content">
                                <div class="item-inner" style="height: 70px; display: flex; justify-content: center;">
                                    <div class="item-title" style="font-size: 14px;">
                                        <span class="pcForm" style="white-space: initial"></span>
                                        <div class="item-footer">PC</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <center>
                    <div class="block-title"
                        style="padding: 10px; text-align: center;color: #0074FE; border: 1px solid #0074FE; border-radius: 30px; width: 65%; top: -10px; font-size: 17px; font-weight: 100; overflow: initial;">
                        Medicacion actual
                    </div>
                </center>
                <div>
                    <div class="row">
                        <div class="col" style="font-size: 14px">Pastilla</div>
                        <div class="col" style="font-size: 14px">Miligramos</div>
                        <div class="col" style="font-size: 14px">Dosis diaria</div>
                        <div class="col" style="font-size: 14px">Tiempo de medicacion</div>
                    </div>
                    <div class="row" id="listMedicacion">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="estudiosForm" style="white-space: initial"></span>
                                                <div class="item-footer">Estudios</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="analisisForm" style="white-space: initial"></span>
                                                <div class="item-footer">Analisis</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul style="width: 100%;">
                        <li>
                            <div class="item-content">
                                <div class="item-inner" style="height: 70px; display: flex; justify-content: center;">
                                    <div class="item-title" style="font-size: 14px;">
                                        <span class="medicamentoForm" style="white-space: initial"></span>
                                        <div class="item-footer">Medicamentos</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>