<div class="page" data-name="login" >
  <!--CONTENIDO DE LA PAGINA-->
  <div class="page-content" id="loginfondo">
    <!--Slide-->
    <div class="slide">
      <center>
        <img src="./img/1003.png" style="width: 70%;margin-top: 50px;">
      </center>
    </div>
    <!--Contenido-->
    <div class="contenido">
      <form class="list no-hairlines-between no-hairlines" id="my-form">
        <ul>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-input-wrap">
                  <input type="text" class="place" style="color: black !important" id="email" name="email"  placeholder="Correo o nombre de usuario" value="fernando">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-input-wrap verp">
                  <input type="password" class="place" style="color: black !important" id="pass" name="pass"  placeholder="Contraseña" value="f10120421">
                  <span><i class="material-icons" style="color: #CE1126;position: absolute;top: 5px;right: 2px;">remove_red_eye</i></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <button class="buttn" id="iniciar-session" style="font-weight: bold;">Iniciar Sesión</button>
    </div>
    <p style="color: black; font-size: 14px;margin-top: 15px; font-weight: 300;text-align: center;">
      <label class="checkbox" style="margin-right: 6px;">
      <input type="checkbox" id="checkUserRec">
      <i class="icon-checkbox diseño"></i>
      </label><span id="recordar">Recuerdame</span>
    </p>
    <div class="terminos">
      <p style="font-size: 13px;">
        <span style="color:black;">¿Nuevo usuario en doctor click?</span> 
        <a href="/registrer/" style="color: #0F7BC3"> 
          <strong>¡Registrarme!</strong>
        </a>
      </p>
    </div>
  </div><!-- Close Page-content -->
</div><!--Close Page-->