<div class="page" data-name="notificaciones">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;">Notificaciones</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block">
      <center>
        <div id="persona">
          <div class="list">
            <ul>
              <li>
                <div class=" item-content">
                  <div class="item-media imgUser" id="imgUser" style="width: 25%;"></div>
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header" style="font-size: 16px;">Hola</div><span style="font-weight: 600;" class="nameUser"></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </center>
      <div class="searchbar-backdrop"></div>
        <form class="searchbar" style="background-color: transparent;box-shadow: none;">
          <div class="searchbar-inner" style="margin-right: 5%;height: 80%;">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Buscar..." style="background-color: #ece5e5;border-radius: 15px;">
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Cancelar</span>
          </div>
        </form>
      <div class="list links-list">
        <ul>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Cita Pendiente</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/ver cuenta (Doctor).png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Pagos pendientes</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Próxima cita.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Proximas citas</div>
              </div>
            </a>
          </li>
          <li><a href="#" style="margin-left: 20px;">Resultados</a></li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Medicamentos Recetados.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Medicaciones</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!--<div class="list media-list">
        <ul>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="./img/notification-bell.png" width="50px"/>
              </div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Nueva Notificacion</div>
                  <div class="item-after">12:20 PM</div>
                </div>
                <div class="item-subtitle">Beatles</div>
                <div class="item-text"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="./img/notification-bell.png" width="50px"/>
              </div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Nueva Notificacion</div>
                  <div class="item-after">03:26 PM</div>
                </div>
                <div class="item-subtitle">Beatles</div>
                <div class="item-text"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="./img/notification-bell.png" width="50px"/>
              </div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Nueva Notificacion</div>
                  <div class="item-after">11:00 AM</div>
                </div>
                <div class="item-subtitle">Beatles</div>
                <div class="item-text"></div>
              </div>
            </a>
          </li>
        </ul>
      </div>-->
    </div>
  </div>
</div>