<div class="page" data-name="pagina-historial">
  <div class="navbar" style="background-color: white !important; height: 0">
    <div
      class="navbar-inner sliding"
      style="background-color: white !important"
    >
      <div class="left">
        <a href="#" class="link back">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title" style="color: #0f7bc3">Historial</div>
    </div>
  </div>
  <div class="page-content">
    <div class="subnavbar">
      <div class="subnavbar-inner">
        <div class="segmented segmented-strong">
          <a class="button tab-link tab-link-active" href="#tab11">Todo</a>
          <a class="button tab-link" href="#tab22">Citas</a>
          <a class="button tab-link" href="#tab33">Diagnosticos</a>
          <a class="button tab-link" href="#tab44">Recetas</a>
          <span class="segmented-highlight"></span>
        </div>
      </div>
    </div>
    <div class="tabs">
      <div class="tab tab-active" id="tab11">
        <div class="block">
          <div class="row">
            <div class="col">
              <div class="list media-list">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab" id="tab22">
        <div class="block">
          <div class="row">
            <div class="col">
              <div class="list media-list">
                <ul class="citasdependiente">

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab" id="tab33">
        <div class="block">
          Historial de diagnosticos
        </div>
      </div>
      <div class="tab" id="tab44">
        <div class="block">
          Historial de recetas
        </div>
      </div>
    </div> 
    <!-- <div class="block">
      <center>
        <div id="persona">
          <div class="list">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media imgUser" style="width: 25%"></div>
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header" style="font-size: 16px">
                        Hola
                      </div>
                      <span style="font-weight: 600" class="nameUser"></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </center>
      <form class="searchbar">
        <div class="searchbar-inner">
          <div class="searchbar-input-wrap">
            <input type="search" placeholder="Search" />
            <i class="searchbar-icon"></i>
            <span class="input-clear-button"></span>
          </div>
          <span class="searchbar-disable-button if-not-aurora">Cancel</span>
        </div>
      </form>
      <div class="list links-list">
        <ul>
          <li>
            <a href="/citas/" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Mis citas (Historial).png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Citas</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Diagnóstico.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Diagnosticos</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Historial de pagos.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Pagos</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Receta médica.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Recetas, indicaciones</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Compartir historial</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</div>
