<div class="page" data-name="perfil">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons" style="color:#0F7BC3;">chevron_left</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;">Perfil</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block" style="background-color: white">
      <center>
      <div id="persona">
        <div class="list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media imgUser" id="imgUser" style="width: 25%;"></div>
                <div class="item-inner">
                  <div class="item-title">
                    <div class="item-header" style="font-size: 16px;">Hola</div><span style="font-weight: 600;" class="nameUser"></span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </center>
    <div class="searchbar-backdrop"></div>
    <form class="searchbar" style="background-color: transparent;box-shadow: none;">
      <div class="searchbar-inner" style="margin-right: 5%;height: 80%;">
        <div class="searchbar-input-wrap">
          <input type="search" placeholder="Buscar..." style="background-color: #ece5e5;border-radius: 15px;">
          <i class="searchbar-icon"></i>
          <span class="input-clear-button"></span>
        </div>
        <span class="searchbar-disable-button if-not-aurora">Cancelar</span>
      </div>
    </form>
    <div class="list links-list">
      <ul>
        <li>
          <a href="/info-personal/" class="item-link item-content">
            <div class="item-media">
              <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
            </div>
            <div class="item-inner">
              <div class="item-title">Informacion personal</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/pago/" class="item-link item-content">
            <div class="item-media">
              <img src="../img/iconos/Historial de pagos.png" style="width: 30px; padding-left: 10px;">
            </div>
            <div class="item-inner">
              <div class="item-title">Pagos</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/dependientes/" class="item-link item-content">
            <div class="item-media">
              <img src="../img/iconos/Dependientes.png" style="width: 30px; padding-left: 10px;">
            </div>
            <div class="item-inner">
              <div class="item-title">Dependientes</div>
            </div>
          </a>
        </li>
        <p style="display: none;" class="linke"></p>
        <input type="text" style="display: none;" id="enlace">
        <li> <!-- pagina-historial -->
          <a href="#" id="historial" class="item-link item-content dynamic-popup">
            <div class="item-media">
              <img src="../img/iconos/Historial de Receta médica.png" style="width: 30px; padding-left: 10px;">
            </div>
            <div class="item-inner">
              <div class="item-title">Historial medico</div>
            </div>
          </a>
        </li>
        <li> <!-- seguro-medico -->
          <a href="#" id="segurom" class="item-link item-content dynamic-popup">
            <div class="item-media">
              <img src="../img/iconos/Seguro médico.png" style="width: 30px; padding-left: 10px;">
            </div>
            <div class="item-inner">
              <div class="item-title">Seguro medico</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>