<div class="page" data-name="register">
  <!--MENU-->
  <div class="navbar" style="display: none">
      <div class="navbar-inner sliding" style="border-color: transparent;">
        <div class="left sliding">
          <a class="link back" style="padding: 0 16px;min-width: 48px;">
            <i class="f7-icons" style="color:#0F7BC3;">chevron_left</i>
          </a>
        </div>
      </div>
  </div>
  <div class="page-content" id="registerfondo">
   <!--LOGO-->
    <div class="logo-register">
      <center>
        <div class="title titleRgi">Registrarse como usuario</div>
      </center>
      <p style="margin-right: 40px;margin-left: 15px;
    text-align: justify;">Ingresar su informacion personal para proceder con el registro en Doctor Click</p>
    </div>
    <!--CONTENIDO-->
    <div class="contenido">
      <form class="list no-hairlines-between no-hairlines" id="my-form">
        <ul>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <!-- <div class="item-title item-label">Nombre</div> -->
                <div class="item-input-wrap">
                  <input type="text" id="nombre" name="nombre" placeholder="Nombre"  pattern="[a-z]{1,15}">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <!-- <div class="item-title item-label">Apellido</div> -->
                <div class="item-input-wrap">
                  <input type="text" id="apellido" name="apellido" placeholder="Apellido"  pattern="[a-z]{1,15}">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <!-- <div class="item-title item-label">Nombre de usuario</div> -->
                <div class="item-input-wrap">
                  <input type="text" id="user" name="user" placeholder="Usuario">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <!-- <div class="item-title item-label">Teléfono</div> -->
                <div class="item-input-wrap">
                  <input type="number" name="telefono" placeholder="Telefono" maxlength="10" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" value="" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <!-- <div class="item-title item-label">Celular</div> -->
                <div class="item-input-wrap">
                  <input type="number" name="celular" placeholder="Celular" maxlength="10" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" value="" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <!-- <div class="item-title item-label">E-mail</div> -->
                <div class="item-input-wrap">
                  <input type="email" id="emaile" name="emaile" placeholder="Email">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <!-- <div class="item-title item-label">Fecha de Nacimiento</div> -->
                <div class="item-input-wrap">
                  <input type="text" name="fecha" class="fecha" placeholder="Fecha de Nacimiento" readonly="readonly" id="demo-calendar-modal">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <!-- <div class="item-title item-label">Contraseña</div> -->
                <div class="item-input-wrap">
                  <input type="password" id="passe" name="passe" placeholder="Contraseña">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <!-- <div class="item-title item-label">Confirmar contraseña</div> -->
                <div class="item-input-wrap">
                  <input type="password" id="passe2" name="passe2" placeholder="Confirmar contraseña">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <button class="buttn" id="save-user" style="font-weight: bold;">Registrarse</button>
    </div>
    <!--Footer-->
    <div class="footer-no">
      <p style="margin-bottom: 50px">
        <span style="color:black;">¿Ya tienes una cuenta?</span> 
        <a href="/login/" style="color:#0F7BC3;"> 
          <strong>¡Inicia sesión!</strong>
        </a>
      </p>
    </div>
  </div>
</div>