<div class="page" data-name="terminos">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons" style="color:#FBB540;">chevron_left</i>
        </a>
      </div>
      <div class="title" style="color: #FBB540;">Politicas</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <center>
       <img src="img/logoGif.gif" style="width: 50%;margin-top: 30px">
    </center>
    <div class="block">
      <h4 style="color:#FBB540;">Políticas de Devolución o Cancelación </h4>
      <p style="text-align: justify;">1. La Política de Devolución le permitirá realizar cancelación de los pedidos sin 
        contactarse necesariamente con el restaurante.  Este proceso se realizará 
      exclusivamente a través de la aplicación.  </p>

      <p style="text-align: justify;">2. Usted tendrá hasta un máximo de un minuto, luego de realizada la orden 
para cancelar con un cargo de 50% del valor del total de la orden.  Luego de 
transcurrido el minuto, no habrá reembolso por la orden cancelada.</p>

      <p style="text-align:justify;">3. Una vez la orden ha sido despachada, no puede ser cancelada.</p>

      <p style="text-align: justify;">4. Para cancelar una orden, deberá seguir estos pasos: </p>
      <p>A. Acceda a la pantalla de estado de su pedido en vivo, luego busque y toque "Cancelar pedido".</p>
      <p>B. Aparecerá una ventana emergente que confirma que desea cancelar y le alerta sobre posibles cargos asociados con la cancelación.</p>
      <p>C. Para completar la cancelación, toque "Cancelar pedido"</p>
      <p>D. Seleccione la razón de la cancelación, luego toque "Listo"</p>
      <p>E. Verifique cualquier cargo por cancelación.</p>
      <p>F. Luego de cancelada la orden, el sistema le reembolsará el costo de la misma, menos cualquier cargo según dispuesto anteriormente.</p>
      
    </div>
  </div>
</div>