<div class="page" data-name="visita-medica">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons" style="color:#0F7BC3;">chevron_left</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;width: 100%;">
         <p style="margin: 0">
          Visita medica y Psicologica
        </p>
      </div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block ">
      <div class="row">
        <div class="col">
          <div class="block-title" style="margin-left: 0 !important;">Seleccionar direccion</div>
          <div class="list">
            <ul>
              <li id="dirEntrega">
                <a href="#" class="item-link item-content" id="listEntrega">
                  <div class="item-inner">
                    <div class="item-title" style="white-space: inherit;">
                      <div class="item-header PlaceOfDeli">Direccion.</div>
                      <input style="display: none;" type="text" id="direccion">
                      <p id="direccionEntrega" class="Address" style="margin: 0;">Seleccionar</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <p style="margin:0;">Seleccionar dependiente</p>
      <div class="row">
        <div class="col">
          <div class="list" id="my-form" style="margin-top: 5px;">
            <ul>
              <li>
                <a href="#" class="item-content item-link" id="listadoDependientes">
                  <div class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-title item-label">Dependiente</div>
                      <div class="item-input-wrap">
                        <select name="dependiente" id="dependiente"></select>
                        <p id="dependiente" style="margin: 0;">Seleccionar</p>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col">
          <p style="margin: 0;">¿Sabes que especialista elegir?</p>
          <div class="list" style="margin-top: 5px;">
            <ul>
              <li class="asesoria">
                <label class="item-radio item-radio-icon-start item-content">
                  <input type="radio" name="demo-radio-start"  value="1" checked />
                  <i class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title">SI</div>
                  </div>
                </label>
              </li>
              <li  class="asesoria2">
                <label class="item-radio item-radio-icon-start item-content">
                  <input type="radio" name="demo-radio-start" value="2"/>
                  <i class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title">NO</div>
                  </div>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p class="linkede" style="display: none;margin-top: 0;color: blue;">Ver asesoria en linea</p>
      <p style="margin: 0;">Especificar la disponibilidad</p>
      <div class="row" style="margin-top: 5px;">
        <div class="col-60">
          <div class="list" id="my-form" style="margin-top: 0;">
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Fecha</div>
                    <div class="item-input-wrap">
                      <input type="date" name="fechaResr" id="fechaResr">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-40">
          <div class="list" id="my-form" style="margin-top: 0;">
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Hora</div>
                    <div class="item-input-wrap">
                      <input type="time" name="horaResr" id="horaResr">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p style="margin:0;">Seleccionar especialista</p>
      <div class="row">
        <div class="col">
          <div class="list" id="my-form" style="margin-top: 5px;">
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Especialidades</div>
                    <div class="item-input-wrap">
                      <select name="especialistaEspec" id="especialistaEspec"></select>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Especialista</div>
                    <div class="item-input-wrap">
                      <select name="especialista" id="especialista"></select>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col">
          <button class="col button button-fill color-orange" id="SendSolidVisita" style="width:80%;margin: 0 auto;">ENVIAR SOLICITUD</button>
        </div>
      </div>
      

      <p style="margin-top: -20px;display: none" id="optionAdress">
      <a href="#" class="AddnewAddress popup-open OpenTriggerAdress" data-popup=".popup-address"></a>
    </p>

    <div class="popup popup-address">
      <div class="row">
        <div class="col-20">
          <i class="f7-icons popup-close" style="color:#0F7BC3;font-size: 25px;font-weight: bold;padding: 0px 16px;
          margin-top: 15px;">chevron_left</i>
        </div>
        <div class="col-70">
          <div class="title TitleAddAddress" style="padding: 0px 16px;margin-top: 15px;font-weight: bold;font-size:18px;">Añadir nueva direccion</div>
        </div>
      </div>
      <div class="block">
      <form class="list" id="my-form">
        <ul>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label AddLine1">Dirección Línea 1</div>
                <div class="item-input-wrap">
                  <input type="text" name="AddressLine1Add" id="AddressLine1Add2">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label CityTrl">Ciudad</div>
                <div class="item-input-wrap">
                  <input type="text" name="CityAdreess" id="CityAdreess2">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col">
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label ZipCodeTrl">Codigo Postal</div>
                    <div class="item-input-wrap">
                      <input type="text" name="zipCodeAddress" id="zipCodeAddress2" placeholder="00000" maxlength="5">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label TypeTrl">SITIO</div>
                    <div class="item-input-wrap">
                      <select name="typeAdress" id="typeAdress2">
                        <option value="Home" selected class="HomeAdd">Hogar</option>
                        <option value="Job" class="JodAdd">Trabajo</option>
                        <option value="Other" class="Others">Otra</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label NoteTrl">SPECIAL INSTRUCTIONS</div>
                <div class="item-input-wrap">
                  <textarea id="noteAddress2" name="noteAddress" class="gpbTrl" placeholder="Código de puerta, estacionamiento, edificio, etc."></textarea>
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="row">
        <div class="col">
          <button class="col button button-fill color-red" id="addAddress2" style="background-color: #0F7BC3">Guardar</button>
        </div>
      </div>
    </div>
    </div>


    </div>
  </div>
</div>