<div class="page" data-name="add_seguro">
    <div class="navbar" style="background-color: white !important;height: 0;">
        <div class="navbar-inner" style="background-color: white !important">
            <div class="left sliding">
                <a href="/" class="link back" style="min-width: 48px;">
                    <i class="material-icons">arrow_back</i>
                </a>
            </div>
            <div class="title sliding" style="color:#0F7BC3;font-size: 17px;">
                <center>Añadir seguro medico</center>
            </div>
        </div>
    </div>
    <div class="page-content" style="background-color: white">
        <div class="block">
            <div class="list no-hairlines-md">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Compañia de seguro</div>
                            <div class="item-input-wrap input-dropdown-wrap">
                                <select placeholder="Seguro medico..." id="addSeguroMedico">
                                    <option value="null">Seleccione...</option>
                                </select>
                                <!-- <input class="seguro" type="text" placeholder="Seguro medico" />
                                <span class="input-clear-button"></span> -->
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Tipo de plan</div>
                          <div class="item-input-wrap input-dropdown-wrap">
                            <select class="tipo" placeholder="Plan de seguro">
                              <option value="Basico">Basico</option>
                              <option value="Full">Full</option>
                            </select>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Nombre</div>
                            <div class="item-input-wrap">
                                <input class="nombre" type="text" placeholder="Nombre" />
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Apellido</div>
                            <div class="item-input-wrap">
                                <input class="apellido" type="text" placeholder="Apellido" />
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Fecha de nacimiento</div>
                            <div class="item-input-wrap">
                                <input class="nacimiento" type="date" placeholder="Seleccione..." />
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Afiliado No.</div>
                            <div class="item-input-wrap">
                                <input class="noAfiliado" type="text" placeholder="Numero de afiliado" />
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">NSS</div>
                            <div class="item-input-wrap">
                                <input class="nss" type="text" placeholder="NSS" />
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Contracto</div>
                            <div class="item-input-wrap">
                                <input class="contracto" type="text" placeholder="Contracto" />
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Fecha de vencimiento</div>
                            <div class="item-input-wrap">
                                <input class="fecha_venc" type="date" placeholder="Seleccione..." />
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Fecha de emision</div>
                            <div class="item-input-wrap">
                                <input class="fecha_emis" type="date" placeholder="Seleccione..." />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="seguro">
                <div class="block-title" style="text-align: center; font-size: 20px; height: 25px;">Foto del seguro</div>
                <div class="fotoSeguro"><center><a id="tomarSeguro" href="#">Agregar foto</a><img style="display: none;" width="50%" src="../img/photo.png" id="seguroFoto"></center></div>
            </div>
            <div class="cedula" style="margin-bottom: 20px;">
                <div class="block-title" style="text-align: center; font-size: 20px; height: 25px;">Foto de la cedula</div>
                <div class="fotoCedula"><center><a id="tomarCedula" href="#">Agregar foto</a><img style="display: none;" width="50%" src="../img/photo.png" id="cedulaFoto"></center></div>
            </div>
            <div class="row">
                <div class="col">
                  <button class="col button button-small button-outline" id="crearSeguro" style="margin:0 auto;width: 80%;border: solid 1px #d02122;color: #d02122">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>