<div class="page" data-name="atencion">
    <div class="navbar" style="background-color: white !important;height: 0">
      <div class="navbar-inner sliding" style="background-color: white !important">
        <div class="left">
          <a href="#" class="link back">
            <i class="material-icons">arrow_back</i>
          </a>
        </div>
        <div class="title" style="color: #0F7BC3;">Atencion al cliente</div>
      </div>
    </div>
    <div class="page-content" style="background-color: white">
      <div class="block">
        <center>
          <div id="persona">
            <div class="list">
              <ul>
                <li>
                  <div class=" item-content">
                    <div class="item-media imgUser" id="imgUser" style="width: 25%;"></div>
                    <div class="item-inner">
                      <div class="item-title">
                        <div class="item-header" style="font-size: 16px;">Hola</div><span style="font-weight: 600;" class="nameUser"></span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </center>
        <form class="searchbar">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search" />
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Cancel</span>
          </div>
        </form>
        <div class="list links-list">
          <ul>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media">
                  <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
                </div>
                <div class="item-inner">
                  <div class="item-title">Como podemos ayudar</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media">
                  <img src="../img/iconos/Preguntas frecuentes.png" style="width: 30px; padding-left: 10px;">
                </div>
                <div class="item-inner">
                  <div class="item-title">Preguntas frecuentes</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media">
                  <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
                </div>
                <div class="item-inner">
                  <div class="item-title">Hacer reclamaciones</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media">
                  <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
                </div>
                <div class="item-inner">
                  <div class="item-title">Contacto</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media">
                  <img src="../img/iconos/Opinar sobre la App.png" style="width: 30px; padding-left: 10px;">
                </div>
                <div class="item-inner">
                  <div class="item-title">Opina sobre la app</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>