<div class="page" data-name="carrito">
  <!--MENU-->
  <div class="navbar" style="background-color: white !important;height: 0">
      <div class="navbar-inner" style="background-color: white !important">
        <div class="left sliding normalRedi">
          <a href="/" class="link back" style="padding: 0 16px;min-width: 48px;">
            <i class="material-icons">navigate_before</i>
            <i class="icon material-icons" style="color: #FBB540;margin-left: -5px">menu</i>
          </a>
        </div>
        <div class="left sliding otraRedi" >
          <a id="goRest"  class="link" style="padding: 0 16px;min-width: 48px;">
            <i class="material-icons">navigate_before</i>
            <i class="icon material-icons" style="color: #FBB540;margin-left: -5px">menu</i>
          </a>
        </div>
        <div class="title sliding" style="color:#FBB540;font-size: 17px;">
          <center>Carrito de compra</center>
        </div>
        <div class="right">
        </div>
      </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block">
      <div id="carito"></div>
      <p class="resumenPedido">RESUMEN DEL CARRITO</p>
      <div class="hereText" id="info">
        <div class="list simple-list no-hairlines" style="float: left;width: 50%;margin: 0;">
          <ul style="background-color: transparent;">
            <li class="tic">Sub Total:</li>
            <li class="tic">Total:</li>
          </ul>
        </div>
        <div class="list simple-list ti no-hairlines" style="float: right;width: 50%;margin: 0;">
          <ul style="background-color: transparent;">
           <li id="subTotal" class="tyc"></li>
           <li id="totalCarrito" class="tyc"></li>
         </ul>
        </div>
        <input type="hidden" name="totalInput" id="totalInput">
        <input type="hidden" name="idRestaurantes" id="idRestaurantes">
        <!-- Impuestos -->
        <input type="hidden" name="TaxMunicipalT" id="TaxMunicipalT">
        <input type="hidden" name="TaxStateT" id="TaxStateT">
      </div>
    </div> 
    <div class="row" style="margin-top: 70px;display: none;" id="buttonOrden">
      <button class="col button button-fill" id="confirmarOrden" style="height: 40px;width: 100%;text-align: center;border-radius: 0;position: absolute;">Confirmar orden
      </button>
    </div>

    <!-- Default bottom sheet -->
    <div class="sheet-modal edit-sheet">
      <div class="toolbar">
        <div class="toolbar-inner">
          <div class="left"><a class="link sheet-close" id="actulizarArticulo" href="#" style="color:green;">Guardar</a></div>
          <div class="right"><a class="link sheet-close" href="#" style="color:red;">Cerrar</a></div>
        </div>
      </div>
      <div class="sheet-modal-inner">
        <div class="block" style="margin: 0;">
          <div class="row">
            <div class="col">
              <h4 id="ArtiName" style="font-weight: 550;font-size: 13px;color: #ff8000;"></h4>
            </div>
            <div class="col">
              <p id="ArtiPrice" style="font-size: 13px;margin-top: 18px;color: #ff8000;text-align: right;float: right;font-weight: 600;"></p>
            </div>
          </div>
          <p id="ArtiDescp" style="white-space: unset;font-size: 10px;color: #757575;padding-right: 10px;text-align: justify;margin-top: -12px;"></p>
          <div class="row">
            <div class="col" id="AritCantidad"></div>
          </div>
          <div class="list no-hairlines" style="margin-top: 0px;">
          <ul>
            <li class="item-content styleTextArea">
              <div class="item-inner">
                <div class="item-input-wrap">
                  <input type="hidden" name="idArticulo" id="idArticulo">
                  <input type="hidden" name="priceValArti" id="priceValArti">
                  <textarea name="ArtiComentario" id="ArtiComentario" placeholder="Comentario o sugerencia del pedido"></textarea>
                </div>
              </div>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>

  </div>
</div>
