<div class="page" data-name="citas">
  <div class="navbar" style="background-color: white !important;height: 0;">
      <div class="navbar-inner" style="background-color: white !important">
        <div class="left sliding">
          <a href="/"  class="link back" style="min-width: 48px;">
            <i class="material-icons">arrow_back</i>
          </a>
        </div>
        <div class="title sliding" style="color:#0F7BC3;font-size: 17px;">
          <center>Mis citas</center>
        </div>
        <div class="right"></div>
      </div>
  </div>
  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="segmented segmented-strong">
        <a class="button tab-link tab-link-active" href="#tab1" style="font-size: 10px; white-space: pre-line; line-height: 18px;">Nuevas / Aceptadas</a>
        <a class="button tab-link" href="#tab2" style="font-size: 10px; white-space: pre-line; line-height: 12px;">Solicitud cambio de fecha</a>
        <a class="button tab-link" href="#tab3" style="font-size: 10px;">Rechazadas</a>
        <a class="button tab-link" href="#tab4" style="font-size: 10px;">Finalizadas / Canceladas</a>
        <span class="segmented-highlight"></span>
      </div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="tabs">
      <div class="tab tab-active" id="tab1">
        <div class="block" style="margin-top: 0;">
          <div class="row">
            <div class="col">
              <div class="list media-list">
                <ul class="listDeCitasRealizad">
                  <li>
                    <a href="#" class="item-link item-content skeleton-text skeleton-effect-blink">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title skeleton-text">Yellow Submarine</div>
                          <div class="item-after skeleton-text">$15</div>
                        </div>
                        <div class="item-subtitle skeleton-text">Beatles</div>
                        <div class="item-text skeleton-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis
                          tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum
                          sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec
                        dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab" id="tab2">
        <div class="block">
          <div class="row">
            <div class="col">
              <div class="list media-list" style="margin-top: 0;">
                <ul class="listDeCitasSolicitud">
                  <li>
                    <a href="#" class="item-link item-content skeleton-text skeleton-effect-blink">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title skeleton-text">Yellow Submarine</div>
                          <div class="item-after skeleton-text">$15</div>
                        </div>
                        <div class="item-subtitle skeleton-text">Beatles</div>
                        <div class="item-text skeleton-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis
                          tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum
                          sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec
                        dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab" id="tab3">
        <div class="block">
          <div class="row">
            <div class="col">
              <div class="list media-list" style="margin-top: 0;">
                <ul class="listDeCitasRechazadas">
                  <li>
                    <a href="#" class="item-link item-content skeleton-text skeleton-effect-blink">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title skeleton-text">Yellow Submarine</div>
                          <div class="item-after skeleton-text">$15</div>
                        </div>
                        <div class="item-subtitle skeleton-text">Beatles</div>
                        <div class="item-text skeleton-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis
                          tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum
                          sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec
                        dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab" id="tab4">
        <div class="block">
          <div class="row">
            <div class="col">
              <div class="list media-list" style="margin-top: 0;">
                <ul class="listDeCitasFinCancel">
                  <li>
                    <a href="#" class="item-link item-content skeleton-text skeleton-effect-blink">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title skeleton-text">Yellow Submarine</div>
                          <div class="item-after skeleton-text">$15</div>
                        </div>
                        <div class="item-subtitle skeleton-text">Beatles</div>
                        <div class="item-text skeleton-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis
                          tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum
                          sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec
                        dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>