<div class="page" data-name="detalle-seguro">
    <!--MENU-->
    <div class="elevation-6" style="height: auto;">
        <div style="display: flex; align-items: center; margin-left: 25px;">
            <div style="float: left;">
                <a href="/" class="link back" style="padding: 0 16px;min-width: 48px;">
                    <i style="color: #0074FE" class="material-icons">navigate_before</i>
                </a>
            </div>
            <div style="float: right;">
                <p style="color: #0074FE;font-size: 20px;"><strong>Detalle del seguro</strong></p>
            </div>
        </div>
    </div>
    <div class="page-content" style="background-color: white">
        <div class="block">
            <div class="list">
                <div class="block-title"></div>
                <div class="block-title"
                    style="text-align: center;color: #0074FE; top: -35px; font-size: 20px; font-weight: 100; overflow: initial;">
                    Datos</div>
                <ul style="margin-top: -20px;">
                    <li style="height: 70px;">
                        <div class="item-content">
                            <div class="item-inner" style="justify-content: center;">
                                <center>
                                    <div class="item-title" style="font-size: 14px;">
                                        <span class="nombre" style="white-space: normal"></span>
                                        <div class="item-footer">Nombre</div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="block-title"></div>
                <div class="row" style="margin-top: -25px;margin-bottom: -30px;">
                    <div class="col" style="display: flex">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="seguro" style="white-space: normal"></span>
                                                <div class="item-footer">Seguro</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="noAfiliado" style="white-space:initial"></span>
                                                <div class="item-footer">No. Afiliado</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="fechaEmision" style="white-space:initial"></span>
                                                <div class="item-footer">Fecha de emision</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <ul>
                                <li>
                                    <div class="item-content" style="padding-left: 0;">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="planSeguro" style="white-space: normal"></span>
                                                <div class="item-footer">Plan</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="nss" style="white-space:initial"></span>
                                                <div class="item-footer">NSS</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content" style="padding-left: 0;">
                                        <div class="item-inner" style="height: 70px;">
                                            <div class="item-title" style="font-size: 14px;">
                                                <span class="fechaVencimiento" style="white-space:initial"></span>
                                                <div class="item-footer">Fecha de vencimiento</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="item-content" style="padding-left: 0;">
                        <div class="item-inner" style="height: 70px;">
                            <div class="item-title" style="font-size: 14px;">
                                <span class="contracto" style="white-space:initial"></span>
                                <div class="item-footer">Contracto</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>