<div class="page" data-name="direccion">
  <!--MENU-->
  <div class="navbar" style="background-color: white !important;height: 0;">
      <div class="navbar-inner" style="background-color: white !important">
        <div class="left sliding" id="normalRedi">
          <a href="/tab-4/"  class="link back" style="min-width: 48px;">
            <i class="material-icons">arrow_back</i>
          </a>
        </div>
        <div class="left sliding" style="display: none" id="otraRedi">
          <a href="/carrito/" class="link" style="min-width: 48px;">
            <i class="material-icons">arrow_back</i>
          </a>
        </div>
        <div class="title sliding" style="color:#0F7BC3;font-size: 17px;">
          <center>Mis direcciones</center>
        </div>
        <div class="right">
        </div>
      </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block">
      <p>Añada sus direcciones para poder recibir sus visitas medicas de la mano de nuestros especialistas.</p>
      <div id="direcciones">
        <div class="list">
          <ul>
            <li>
              <div class="item-content skeleton-text skeleton-effect-blink">
                <div class="item-inner">
                  <div class="item-title" style="white-space:normal">
                    <div class="item-header" style="color:#d02122;">Tipo</div>
                    Cll Avenida venezuela #22, Santo domingo este, 11901, Republica Dominicana, numero(22)
                  </div>
                </div>
              </a>
            </li>
            <li>
              <div class="item-content skeleton-text skeleton-effect-blink">
                <div class="item-inner">
                  <div class="item-title" style="white-space:normal">
                    <div class="item-header" style="color:#d02122;">Tipo</div>
                    Cll Avenida venezuela #22, Santo domingo este, 11901, Republica Dominicana, numero(22)
                  </div>
                </div>
              </a>
            </li>
            <li>
              <div class="item-content skeleton-text skeleton-effect-blink">
                <div class="item-inner">
                  <div class="item-title" style="white-space:normal">
                    <div class="item-header" style="color:#d02122;">Tipo</div>
                    Cll Avenida venezuela #22, Santo domingo este, 11901, Republica Dominicana, numero(22)
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
         <div class="col">
           <button class="col button button-small button-outline add_direccion" style="margin:0 auto;width: 80%;border: solid 1px #d02122;color: #d02122">Agregar nueva dirección</button>
         </div>
       </div>
    </div>
  </div>
</div>