<div class="page" data-name="empresa">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons" style="color:#0F7BC3;">chevron_left</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;">Quienes Somos</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <center>
      <div id="persona">
        <div class="list">
          <ul>
            <li>
              <div class=" item-content">
                <div class="item-media imgUser" id="imgUser" style="width: 25%;"></div>
                <div class="item-inner">
                  <div class="item-title">
                    <div class="item-header" style="font-size: 16px;">Hola</div><span style="font-weight: 600;" class="nameUser"></span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </center>
    <div class="searchbar-backdrop"></div>
    <form class="searchbar" style="background-color: transparent;box-shadow: none;">
      <div class="searchbar-inner" style="margin-right: 5%;height: 80%;">
        <div class="searchbar-input-wrap">
          <input type="search" placeholder="Buscar..." style="background-color: #ece5e5;border-radius: 15px;">
          <i class="searchbar-icon"></i>
          <span class="input-clear-button"></span>
        </div>
        <span class="searchbar-disable-button if-not-aurora">Cancelar</span>
      </div>
    </form>
    <div class="list links-list">
      <ul>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media">
              <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
            </div>
            <div class="item-inner">
              <div class="item-title">Quienes somos</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media">
              <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
            </div>
            <div class="item-inner">
              <div class="item-title">Politicas de privacidad</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media">
              <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
            </div>
            <div class="item-inner">
              <div class="item-title">Politicas de uso</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media">
              <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
            </div>
            <div class="item-inner">
              <div class="item-title">Pagos por uso</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!--<div class="block-title">Doctor Click</div>
    <div class="block block-strong">
      <p style="font-weight: bold">Quienes somos</p>
      <p style="text-align: justify;">Aenean consectetur sollicitudin orci, non dictum lectus efficitur sit amet. Morbi commodo efficitur mi et efficitur. Vestibulum dapibus tortor enim, nec semper diam auctor vestibulum. In dictum nibh quam, vestibulum laoreet leo porta nec. Nunc sapien orci, maximus ac commodo vel, accumsan et eros. Sed sed porta mi. Donec in libero sit amet dolor consectetur vulputate quis sed lectus.</p>
      
      <p style="font-weight: bold">Misión</p>
      <p style="text-align: justify;">In eget suscipit ipsum. Mauris sed neque quam. Fusce vitae ex eget sem ornare iaculis. Donec finibus ligula hendrerit arcu porta, vel egestas dolor faucibus. Nunc elementum massa et nulla mattis vehicula. Nullam id dui et tortor accumsan ullamcorper. Praesent ultrices venenatis aliquam. Etiam convallis dignissim mauris ut tristique. Praesent fermentum ex massa, vitae placerat turpis euismod nec. Curabitur nunc est, pharetra eget bibendum et, scelerisque quis ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla at risus et eros maximus suscipit ac venenatis tortor. In nec vulputate nunc, non vehicula mauris. Nullam sed leo vitae massa consectetur aliquam.</p>
      
      <p style="font-weight: bold">Visión</p>
      <p style="text-align: justify;">Etiam odio ipsum, dignissim ut nunc eu, finibus laoreet neque. Ut in ornare sapien. Duis pulvinar maximus dui, a rhoncus quam. Duis nibh quam, ultrices pretium commodo nec, feugiat id felis. Suspendisse ornare ligula sed leo vehicula, sed imperdiet velit pharetra. Suspendisse at eleifend mi. Vivamus sagittis enim dui, ac venenatis ex euismod et. Nulla viverra ultricies elit et feugiat. Praesent sit amet consequat arcu, nec volutpat justo.</p>
    </div>-->
  </div>
</div>