<div class="page" data-name="formulario-otrosAntecedentes">
  <div class="navbar" style="background-color: white !important; height: 0">
    <div class="navbar-inner" style="background-color: white !important">
      <div class="left sliding">
        <a href="#" class="link back" style="min-width: 48px">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="left sliding" style="display: none" id="otraRedi">
        <a href="#" class="link" style="min-width: 48px">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title sliding" style="color: #0f7bc3; font-size: 17px">
        <center>Mi perfil medico</center>
      </div>
      <div class="right"></div>
    </div>
  </div>
  <div class="page-content">
    <div class="block">
      <div class="block-title">Otros antecedentes</div>
        <div class="list no-hairlines-md">
          <ul>
            <div class="row">
              <form name="form1">
                <li>
                  <p>Antecedentes quirurgicos</p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="aquirurg" value="Si" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Si (Especificar)</div>
                    </div>
                  </label>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="aquirurg" value="No" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">No</div>
                    </div>
                  </label>
                  <div class="item-inner" id="AQConfirm">
                    <div class="item-input-wrap">
                      <textarea id="AOAntec_qFOA" required></textarea>
                    </div>
                  </div>
                </li>
              </form>
              <form name="form2">
                <li>
                  <p>Reaccion de hipersensibilidad (alergico)</p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="rhipersens" value="Si" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Si (Especificar)</div>
                    </div>
                  </label>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="rhipersens" value="No" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">No</div>
                    </div>
                  </label>
                  <div class="item-inner" id="RHAConfirm">
                    <div class="item-input-wrap">
                      <textarea id="AORHFOA" required></textarea>
                    </div>
                  </div>
                </li>
              </form>
              <form name="form3">
                <li>
                  <p>Antecedentes traumas</p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="atraumas" value="Si" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Si (Especificar)</div>
                    </div>
                  </label>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="atraumas" value="No" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">No</div>
                    </div>
                  </label>
                  <div class="item-inner" id="ATConfirm">
                    <div class="item-input-wrap">
                      <textarea id="AOAntec_traumaFOA" required></textarea>
                    </div>
                  </div>
                </li>
              </form>
              <form name="form4">
                <li>
                  <p>Habitos toxicos</p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="htoxicos" value="Si" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Si (Especificar)</div>
                    </div>
                  </label>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="htoxicos" value="No" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">No</div>
                    </div>
                  </label>
                  <div class="item-inner" id="HTConfirm">
                    <div class="item-input-wrap">
                      <textarea id="AOHabitos_toxFOA" required></textarea>
                    </div>
                  </div>
                </li>
              </form>
              <form name="form5">
                <li>
                  <p>Hospitalizaciones</p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="hospitalizaciones" value="Si" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Si (Especificar)</div>
                    </div>
                  </label>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="hospitalizaciones" value="No" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">No</div>
                    </div>
                  </label>
                  <div class="item-inner" id="HConfirm">
                    <div class="item-input-wrap">
                      <textarea id="AOHospitaliFOA" required></textarea>
                    </div>
                  </div>
                </li>
              </form>
            </div>
            <form name="form6">
              <li>
                <p>Operaciones-cirugias</p>
                <label class="item-radio item-radio-icon-start item-content">
                  <input type="radio" name="opercirug" value="Si" />
                  <i style="margin-right: 10px;" class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title">Si (tipo, fecha, complicaciones)</div>
                  </div>
                </label>
                <label class="item-radio item-radio-icon-start item-content">
                  <input type="radio" name="opercirug" value="No" />
                  <i style="margin-right: 10px;" class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title">No</div>
                  </div>
                </label>
                <div class="item-inner" id="OCConfirm">
                  <div class="item-input-wrap">
                    <textarea id="operacionesFOA" required></textarea>
                  </div>
                </div>
              </li>
            </form>
            <div class="row">
              <div class="block-title">Peso</div>
              <div style="display: flex;">
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Actual</div>
                    <div class="item-input-wrap">
                      <input type="text" id="peso_actualFOA" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required />
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Lbs. habitual</div>
                    <div class="item-input-wrap">
                      <input type="text" id="peso_habitualFAO" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required />
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
              </div>
              <li>
                <form name="form7">
                  <p>Perdio peso los ultimos 6 meses </p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="_6meses" value="Si" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Si</div>
                    </div>
                  </label>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="_6meses" value="No" />
                    <i style="margin-right: 10px;" class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">No</div>
                    </div>
                  </label>
                  <li class="item-content item-input" id="_6mesesConfirm">
                    <div class="item-inner">
                      <div class="item-title item-label">%</div>
                      <div class="item-input-wrap">
                        <input type="text" id="peso_6mesesFOA" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required />
                        <span class="input-clear-button"></span>
                      </div>
                    </div>
                  </li>
                </form>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Talla</div>
                  <div class="item-input-wrap">
                    <input type="text" id="tallaFOA" required />
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">PC</div>
                  <div class="item-input-wrap">
                    <input type="text" id="PCFOA" required />
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </div>
      <center>
        <button class="col button button-fill color-orange" id="form4"
          style="width:80%;margin: 0 auto;">Siguiente</button>
      </center>
    </div>
  </div>
</div>