<div class="page" data-name="historial-medico">
  <div class="navbar" style="background-color: white !important;height: 0;">
      <div class="navbar-inner" style="background-color: white !important">
        <div class="left sliding">
          <a href="/"  class="link back" style="min-width: 48px;">
            <i class="material-icons">arrow_back</i>
          </a>
        </div>
        <div class="title sliding" style="color:#0F7BC3;font-size: 17px;">
          <center>Mi historial</center>
        </div>
      </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block">
      <center>
        <img style="width: 60%;" src="./img/en-construccion.png" alt="">
        <p>Este modulo esta en construccion</p>
      </center>
      <div id="historialM"></div>
      <div class="row" style="display: none;">
         <div class="col">
           <div class="list no-hairlines no-hairlines-between " style="margin: 0;">
            <ul id="parentsList">
              <li>
               <div href="#" class="item-content swipeout-content skeleton-text skeleton-effect-blink">
                 <div class="item-inner ">
                   <div class="item-title">
                    <div class="item-header">Tipo</div>
                     Nombre y apellido
                   </div>
                   <div class="item-after">Edad </div>
                 </div>
               </div>
              </li>
              <li>
               <div href="#" class="item-content swipeout-content skeleton-text skeleton-effect-blink">
                 <div class="item-inner ">
                   <div class="item-title">
                    <div class="item-header">Tipo</div>
                     Nombre y apellido
                   </div>
                   <div class="item-after">Edad </div>
                 </div>
               </div>
              </li>
              <li>
               <div href="#" class="item-content swipeout-content skeleton-text skeleton-effect-blink">
                 <div class="item-inner ">
                   <div class="item-title">
                    <div class="item-header">Tipo</div>
                     Nombre y apellido
                   </div>
                   <div class="item-after">Edad </div>
                 </div>
               </div>
              </li>
              <li>
               <div href="#" class="item-content swipeout-content skeleton-text skeleton-effect-blink">
                 <div class="item-inner ">
                   <div class="item-title">
                    <div class="item-header">Tipo</div>
                     Nombre y apellido
                   </div>
                   <div class="item-after">Edad </div>
                 </div>
               </div>
              </li>
            </ul>
          </div>
         </div>
       </div>
    </div>
  </div>
</div>