<div class="page" data-name="hospital-profile">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back" id="BackCentrList">
          <i class="f7-icons" style="color:#0F7BC3;">chevron_left</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;width: 100%;margin-left: 0;white-space: pre-wrap;margin-top: 1rem;">
         <p style="margin: 0" class="NameCent">
          <span class="skeleton-text">Nombre del centro</span>
        </p>
      </div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block ">

      <div class="row">
        <div class="col">
          <div class="list media-list" style="margin-top: 0;">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media LoadPhotoProfile">
                    <div class="skeleton-block" style="width: 80px;height: 80px;"></div>
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title"></div>
                    </div>
                    <div class="item-subtitle TelDoc"><span class="skeleton-text">(809) 565-9989</span></div>
                    <div class="item-text DirecCent"><span class="skeleton-text">Avenida Charles Sumner Esq, Calle Jose Lopez # 5, Santo Domingo</span></div>
                    <div class="item-header" style="color: #d02122">Horario</div>
                    <div class="item-subtitle HorarioCent"><span class="skeleton-text">(809) 565-9989</span></div>
                  </div>
                </div>
              </li>
              <input type="hidden" name="idTypeCent" id="idTypeCent">
              <!-- <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">
                      <span class="HorarioCent"></span>
                    </div>
                  </div>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="locationImg">
        <div class="skeleton-block" style="width: 100%;border-radius: 20px;height: 328px;"></div>
      </div> -->
      <p style="margin:0; text-align: center;">Seleccionar Médico</p>
      <div class="list">
        <ul>
          <li>
            <a class="item-link smart-select smart-select-init" data-open-in="popup" data-searchbar="true" data-searchbar-placeholder="Buscar especialidad">
              <select name="especialidad" id="ListEspecialidad">
              </select>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Especialidad</div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="item-link smart-select smart-select-init" data-open-in="popup" data-searchbar="true" data-searchbar-placeholder="Buscar especialista">
              <select name="especialista" id="ListEspecialista"></select>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Especialista</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div id="mapi" style="width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;
        margin-top: 10px;
        border-radius: 10px;">
      </div>
      <div class="row">
        <div class="col">
          <div class="list" id="my-form">
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Fecha</div>
                    <div class="item-input-wrap">
                      <input type="date" name="fechaResr" id="fechaResr">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="list" id="my-form">
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Hora</div>
                    <div class="item-input-wrap">
                      <input type="time" name="horaResr" id="horaResr">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col">
          <button class="col button button-fill color-orange" id="SendSolid" style="width:80%;margin: 0 auto;">ENVIAR SOLICITUD</button>
        </div>
      </div>
    </div>
  </div>
</div>