<div class="page" data-name="info-personal">
  <style>
    .list .campo:after {
      height: 0;
    }
  </style>
    <div class="page-content" style="background-color: white">
      <!--MENU-->
      <div class="elevation-6" style="background-color: #0074FE; height: auto;">
        <div style="display: flex; align-items: center; margin-left: 25px; margin-bottom: -40px;">
          <div style="float: left;">
            <a href="/" class="link back" style="padding: 0 16px;min-width: 48px;">
              <i style="color: white" class="material-icons">navigate_before</i>
            </a>
          </div>
          <div style="float: right;">
            <p style="color: white;font-size: 20px;"><strong>Información de contacto</strong></p>
          </div>
        </div>
    
        <div class="row" style="background-color: #0074FE; margin-top: -40px;">
          <center>
              <div id="persona">
                <div class="list">
                  <ul>
                    <li>
                      <div class="item-content" style="background-color: #0074FE; padding-left: 0;">
                        <div class="item-media imgUser" id="imgUser" style="margin-left: auto;margin-right: auto; width: 25%;"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </center>
        </div>
      </div>
      <div class="block">
        <div class="list">
          <div class="block-title"></div>
        <center><div class="block-title"
            style="padding: 10px; text-align: center;color: #0074FE; border: 1px solid #0074FE; border-radius: 30px; width: 65%; top: -35px; font-size: 17px; font-weight: 100; overflow: initial;margin-bottom: -45px;">
            Mi perfil de cuenta</div></center>
          <div class="row" style="margin-top: -25px;margin-bottom: -30px;">
            <div class="col" style="display: flex">
              <div class="list">
                <ul class="campo">
                  <li>
                    <div class="item-content">
                      <div class="item-inner" style="height: 70px;">
                        <div class="item-title" style="font-size: 14px;">
                          <span class="nameUser" style="white-space: initial"></span>
                          <div class="item-footer">Nombre</div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col">
              <div class="list">
                <ul class="campo">
                  <li>
                    <div class="item-content" style="padding-left: 0;">
                      <div class="item-inner" style="height: 70px;">
                        <div class="item-title" style="font-size: 14px;">
                          <span class="telefonoP" style="white-space: normal"></span>
                          <i id="editarTelefono" class="material-icons" style="color: #0074FE; font-size: 15px; vertical-align: text-top;">create</i>
                          <div class="item-footer">Teléfono</div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <ul style="width: 100%;">
                <li>
                  <div class="item-content" style="padding-left: 16px;">
                    <div class="item-inner" style="height: 70px;">
                      <div class="item-title" style="font-size: 14px;">
                        <span class="emailP" style="white-space: normal"></span>
                        <div class="item-footer">Email</div>
                      </div>
                    </div>
                  </div>
                </li>
            </ul>
          </div>
          <div class="row">
            <ul style="width: 100%;">
              <a href="/cambiarPass/">
                <li>
                  <div class="item-content" style="padding-left: 16px;">
                    <div class="item-inner" style="height: 70px; justify-content: center;">
                      <div class="item-title" style="font-size: 14px; font-weight: 600;">Cambiar contraseña
                      </div>
                    </div>
                  </div>
                </li>
              </a>
            </ul>
          </div>
        </div>
        <center>
          <div class="block-title" style="font-size: 17px; padding: 10px; border-radius: 30px; color: #0F7BC3;
            border-color: #0F7BC3;width: 65%;font-weight: 300;border: 1px solid;
            text-transform: capitalize;">Mi perfil médico
          </div>
        </center>
      <button class="col button button-fill color-orange" id="llenarForm" style="width:80%;margin: 0 auto;">Llenar formulario</button>
      <button class="col button button-fill color-orange" id="resumenForm" style="width:80%;margin: 0 auto;">Resumen de formulario</button>
      </div>
    </div>
  </div>