<div class="page" data-name="informacion-perfil">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons" style="color:#0F7BC3;">chevron_left</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;">Informacion personal</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block" style="background-color: white">
      <div class="row">
        <div class="col">
          <center>
            <div class="imgPrevia">
            </div>
            <i class="f7-icons"
              style="font-size: 30px;font-weight: bold;color: #0F7BC3;position: absolute;top: 90px;right: 131px;">pencil_circle_fill</i>
            <p style="text-align: center;color: black;font-weight: bold;font-size: 20px;margin-bottom: 2px"
              class="UsuarioProfilePage">Fernando Burgos</p>
            <p style="text-align: center;color: black;font-weight: bold;margin-top: 0" class="TelefonoProfilePage">(000)
              000-0000</p>
            <button class="col button button-outline button-round editarInformacion" style="color: #0F7BC3;
            border-color: #0F7BC3;width: 65%;font-weight: 300;border: 1px solid;
            text-transform: capitalize;margin-bottom: 50px;">Editar Informacion</button>
          </center>
          <div class="list links-list">
            <ul>
              <li>
                <a href="/info-personal/" class="item-content">
                  <div class="item-media">
                    <img src="img/flecha-curva.png" style="width: 40px;">
                  </div>
                  <div class="item-inner">
                    <div class="item-title" style="color:#424250;margin-bottom:-15px;">Informacion de Contacto
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/historial-ordenes/" class="item-content">
                  <div class="item-media">
                    <img src="img/flecha-curva.png" style="width: 40px;">
                  </div>
                  <div class="item-inner">
                    <div class="item-title" style="color:#424250;margin-bottom:-15px;">Historial de Ordenes
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="item-content" style="display: none;">
                  <div class="item-media">
                    <img src="img/flecha-curva.png" style="width: 40px;">
                  </div>
                  <div class="item-inner">
                    <div class="item-title" style="color:#424250;margin-bottom:-15px;">Facturas</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/seguro-medico/" class="item-content">
                  <div class="item-media">
                    <img src="img/flecha-curva.png" style="width: 40px;">
                  </div>
                  <div class="item-inner">
                    <div class="item-title" style="color:#424250;margin-bottom:-15px;">Seguros Medico</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/direccion/" class="item-content">
                  <div class="item-media">
                    <img src="img/flecha-curva.png" style="width: 40px;">
                  </div>
                  <div class="item-inner">
                    <div class="item-title" style="color:#424250;margin-bottom:-15px;">Agregar ubicaciones</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/dependientes/" class="item-content">
                  <div class="item-media">
                    <img src="img/flecha-curva.png" style="width: 40px;">
                  </div>
                  <div class="item-inner">
                    <div class="item-title" style="color:#424250;margin-bottom:-15px;">Dependientes</div>
                  </div>
                </a>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <img src="img/logout.png" style="width: 30px;">
                  </div>
                  <div class="item-inner">
                    <div class="item-title" id="logout" style="color: red;">Cerrar Sesión</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>