<div class="page" data-name="metodo-pago">
  <!--MENU-->
  <div class="navbar" style="background-color: white !important; height: 0">
    <div class="navbar-inner" style="background-color: white !important">
      <div class="left sliding" id="normalRedi">
        <a href="/tab-4/" class="link back" style="min-width: 48px">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="left sliding" style="display: none" id="otraRedi">
        <a href="/carrito/1" class="link" style="min-width: 48px">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title sliding" style="color: #0f7bc3; font-size: 17px">
        <center>Metodos de pago</center>
      </div>
      <div class="right"></div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block">
      <center>
        <div
          class="block-title"
          style="padding: 10px;text-align: center;color: #0074fe;border: 1px solid #0074fe;
            border-radius: 30px;width: 65%;font-size: 17px;font-weight: 100;overflow: initial;">
          Metodos de pago aceptados
        </div>
      </center>
      <div>
        <div class="list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media">
                  <!-- <div class="skeleton-block" style="width: 40px; height: 40px; border-radius: 50%">
                    
                  </div> --><img src="../img/pagos/creditCard2.png" width="48" />
                </div>
                <div class="item-inner">
                  <div class="item-title">Tarjeta de credito</div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media">
                  <!-- <div class="skeleton-block" style="width: 40px; height: 40px; border-radius: 50%">
                    
                  </div> --><img src="../img/pagos/debitCard2.png" width="48" />
                </div>
                <div class="item-inner">
                  <div class="item-title">Tarjeta de debito</div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media">
                  <!-- <div class="skeleton-block" style="width: 40px; height: 40px; border-radius: 50%">
                    
                  </div> --><img src="../img/pagos/paypal.png" width="48" />
                </div>
                <div class="item-inner">
                  <div class="item-title">Paypal</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>