<div class="page" data-name="pass-update">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons" style="color:#FBB540;">arrow_left</i>
        </a>
      </div>
      <div class="title" style="color: #FBB540;">Cambiar contraseña</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="circle-logo">
      <center>
       <img src="img/password-1.png" style="width: 60%;padding-top: 32px;">
    </center>
    </div>
    <div class="block">
      <h4 style="color:#FBB540;text-align:center;">Restablecer su contraseña</h4>
      <div class="row">
        <div class="col" style="margin-bottom: 15px;">
          <div class="inner-addon left-addon">
            <i class="glyphicon material-icons" style="color:#0ca3dc !important;font-size: 20px;">lock</i>
            <input type="password" name="ps_actual" id="ps_actual" style="border: 1px solid gray;width: 100%;height: 40px;background-color: transparent;border-radius: 5px;" placeholder="Actual contraseña">
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 15px;">
        <div class="col">
          <div class="inner-addon left-addon">
            <i class="glyphicon material-icons" style="color:#0ca3dc !important;font-size: 20px;">lock</i>
            <input type="password" name="ps_nueva" id="ps_nueva" style="border: 1px solid gray;width: 100%;height: 40px;background-color: transparent;border-radius: 5px;" placeholder="Nueva contraseña">
          </div>
        </div>
      </div>
      <!--<div class="row">
        <div class="col">
          <div class="inner-addon left-addon">
            <i class="glyphicon material-icons" style="color:#0ca3dc !important;font-size: 20px;">lock</i>
            <input type="password" name="ps_confirmar" id="ps_confirmar" style="border: 1px solid gray;width: 100%;height: 40px;background-color: transparent;border-radius: 5px;" placeholder="Confirmar contraseña">
          </div>
        </div>
      </div>-->
      <div class="row" style="margin-bottom: 15px;margin-top: 25px">
        <div class="col" id="taskBut">
          <button class="col button button-fill color-green" id="cambiar-pass" style="background-color:#FBB540;width: 100% !important;">CAMBIAR CONTRASEÑA</button>
        </div>
      </div>
      <div id="pswd_info">
       <h4>La contraseña debería cumplir con los siguientes requerimientos:</h4>
       <ul>
        <li id="letter">Debería tener <strong>una letra</strong></li>
        <li id="capital">Debería tener <strong>una letra en mayúsculas</strong></li>
        <li id="number">Debería tener <strong>un número</strong></li>
        <li id="length">Debería tener <strong>8 carácteres</strong> como mínimo</li>
      </ul>
    </div>
    </div>
  </div>
</div>