<div class="page" data-name="perfil-info">
  <div class="navbar">
    <div class="navbar-inner" style="background-color: white !important;">
      <div class="left">
        <a href="#" class="link back">
           <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title ProfileInfoTRl" style="color:#0F7BC3;">Editar perfil</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block">
      <div class="row">
        <div class="col">
          <center>
            <div class="imgPrevia">
            </div>
            <i class="f7-icons" style="font-size: 30px;font-weight: bold;color: #0F7BC3;position: absolute;top: 90px;right: 131px;">pencil_circle_fill</i>
          </center>
        </div>
      </div>
      <p style="margin-bottom: 0;" class="messageProfileinTrl">NOTA: Esta acción provoca una interrupción de la sesión para aplicar los cambios correctamente</p>
      <form class="list" id="my-form">
        <ul>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label namTrlProf" style="color: #CE1126;">Nombre</div>
                <div class="item-input-wrap">
                  <input type="text" name="name" id="nameUser" placeholder="Tu Nombre">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label LastNameTrlk" style="color: #CE1126;">Apellido</div>
                <div class="item-input-wrap">
                  <input type="text" name="LastNameUser" id="LastNameUser" placeholder="Tu Apellido">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label PhoneNumTrl" style="color: #CE1126;">Teléfono</div>
                <div class="item-input-wrap">
                  <input type="text" name="PhoneNumberUser" id="PhoneNumberUser" placeholder="Tu numero de telefono" maxlength="12">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label EmailTrlk" style="color: #CE1126;">Correo Electrónico</div>
                <div class="item-input-wrap">
                  <input type="email" name="emailUser" id="emailUser" placeholder="Tu Correo Electronico">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="row">
        <div class="col">
          <button class="col button button-small button-outline updatebuttTrl" id="UpdateProfileInfo" style="margin:0 auto;width: 80%;border: solid 1px #d02122;color: #d02122">ACTUALIZAR</button>
        </div>
      </div>
    </div>
  </div>
</div>