<div class="page" data-name="politica-uso">
  <div class="navbar"  style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons" style="color:#0F7BC3;">chevron_left</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;">Políticas de uso</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block-title">Doctor Click</div>
    <div class="block block-strong">
      <p style="font-weight: bold;">Datos y Usos:</p>
      <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus quam, dignissim quis odio in, congue finibus ipsum. Praesent feugiat molestie sapien, eget blandit justo. Sed iaculis ante a libero cursus, pharetra egestas urna eleifend. Ut ac auctor urna. Donec eleifend ex quis dolor efficitur gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ornare facilisis turpis sed finibus. Morbi turpis orci, dapibus ut lacinia et, cursus sed purus. Fusce ac ipsum lorem. Aenean a iaculis ipsum, eu euismod lorem. Mauris viverra semper purus, ac mattis felis consequat nec.</p>

      <p style="text-align: justify;">Aenean consectetur sollicitudin orci, non dictum lectus efficitur sit amet. Morbi commodo efficitur mi et efficitur. Vestibulum dapibus tortor enim, nec semper diam auctor vestibulum. In dictum nibh quam, vestibulum laoreet leo porta nec. Nunc sapien orci, maximus ac commodo vel, accumsan et eros. Sed sed porta mi. Donec in libero sit amet dolor consectetur vulputate quis sed lectus.</p>
    </div>
  </div>
</div>