<div class="page" data-name="programar-cita">
    <div class="navbar" style="background-color: white !important;height: 0">
        <div class="navbar-inner sliding" style="background-color: white !important">
          <div class="left">
            <a href="#" class="link back">
              <i class="material-icons">arrow_back</i>
            </a>
          </div>
          <div class="title" style="color: #0F7BC3;">Programar cita</div>
        </div>
    </div>
  <div class="page-content">
    <div class="block">
      <center>
        <div id="persona">
          <div class="list">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media imgUser" id="imgUser" style="width: 25%;"></div>
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header" style="font-size: 16px">
                        Hola
                      </div>
                      <span style="font-weight: 600" class="nameUser"></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </center>
      <p style="border: 1px solid black;padding: 10px;background-color: #ff9500;
        color: white;font-size: 18px;display: flex;justify-content: center; border-radius: 15px;">
        Programar cita presencial</p>
      <div class="list">
        <ul>
          <li>
            <a href="" class="item-link item-content" id="centroM">
              <div class="item-media">
                <img src="../img/Hospital.png" style="width: 40px" />
              </div>
              <div class="item-inner">
                <div class="item-title">Centros Medicos</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content centroE">
              <div class="item-media">
                <img src="../img/Hospital.png" style="width: 40px" />
              </div>
              <div class="item-inner">
                <div class="item-title">Centros de especialidades</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content centroD">
              <div class="item-media">
                <img src="../img/Hospital.png" style="width: 40px" />
              </div>
              <div class="item-inner">
                <div class="item-title">Centros de Diagnostico</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content centroO">
              <div class="item-media">
                <img src="../img/Hospital.png" style="width: 40px" />
              </div>
              <div class="item-inner">
                <div class="item-title">Centros Odontologicos</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content laboratorios">
              <div class="item-media">
                <img src="../img/iconos/Laboratorio.png" style="width: 40px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Laboratorios</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <p style="border: 1px solid black;padding: 10px;background-color: #ff9500;
        color: white;font-size: 18px;display: flex;justify-content: center; border-radius: 15px;">
        Programar citas virtuales y a domicilio</p>
      <div class="list">
        <ul>
          <!-- <li>
            <a href="/centros-elegir-profile/1" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Solicitar Cita Virtual.png" style="width: 40px;"/>
              </div>
              <div class="item-inner">
                <div class="item-title">Online</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/visita-medica/" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Medico Psicolog@.png" style="width: 40px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Visita medica y Psicologica (en casa)</div>
              </div>
            </a>
          </li> -->
          <li>
            <a href="#" class="item-link item-content citasV">
              <div class="item-media">
                <img src="../img/iconos/Medico Psicolog@.png" style="width: 40px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Citas virtuales</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Medico Psicolog@.png" style="width: 40px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Cita medica a domicilio</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Medico Psicolog@.png" style="width: 40px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Cita de enfermeria a domicilio</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Medico Psicolog@.png" style="width: 40px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Cita de laboratorio a domicilio</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
