<div class="page" data-name="prueba">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left sliding">
          <a class="link back" style="padding: 0 16px;min-width: 48px;">
            <i class="f7-icons" style="color:#FBB540;">arrow_left</i>
          </a>
        </div>
      <div class="title">TESTING</div>
    </div>
  </div>
  <div class="toolbar tabbar tabbar-scrollable toolbar-bottom">
    <div class="toolbar-inner">
      <a href="#tab1" class="tab-link tab-link-active" style="width: 25%">Tab 1</a>
      <a href="#tab2" class="tab-link" style="width: 25%">Tab 2</a>
      <a href="#tab3" class="tab-link" style="width: 25%">Tab 3</a>
    </div>
  </div>
  <div class="tabs">
    <div id="tab1" class="page-content tab tab-active">
      <div class="block">
        <p>Tab 1</p>
      </div>
    </div>
    <div id="tab2" class="page-content tab">
      <div class="block">
        <p>Tab 2</p>
      </div>
    </div>
    <div id="tab3" class="page-content tab">
      <div class="block">
        <p>Tab 3</p>
      </div>
    </div>
  </div>
</div>