<div class="page">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left sliding">
          <a class="link back" style="padding: 0 16px;min-width: 48px;">
            <i class="f7-icons" style="color:#0F7BC3;">arrow_left</i>
          </a>
        </div>
      <div class="title">404 Not Found</div>
    </div>
  </div>
    <div class="page-content" style="background-color: white">
    <div class="block">
      <center>
        <img src="img/logo.png" style="width:120px;">
      </center>
      <p style="text-align: center;font-size: 1em;margin-bottom: -10px">Lo sentimos</p>
      <p style="text-align: center;font-size: 1em;">El contenido solicitado no esta disponible.</p>
    </div>
  </div>
</div>
