<div class="page" data-name="accioncita">
    <div class="navbar" style="background-color: white !important;height: 0;">
        <div class="navbar-inner" style="background-color: white !important">
          <div class="left sliding">
            <a href="/"  class="link back" style="min-width: 48px;">
              <i class="material-icons">arrow_back</i>
            </a>
          </div>
          <div class="title sliding" style="color:#0F7BC3;font-size: 17px;">
            <center>Editar / Cancelar cita</center>
          </div>
          <div class="right"></div>
        </div>
    </div>
    <div class="page-content" style="background-color: white">
      <div class="block" style="margin-top: 0;">
        <div class="row">
          <div class="col">
            <div class="list media-list">
              <ul class="listDeCitasAccion">
                <li>
                  <a href="#" class="item-link item-content skeleton-text skeleton-effect-blink">
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title skeleton-text">Yellow Submarine</div>
                        <div class="item-after skeleton-text">$15</div>
                      </div>
                      <div class="item-subtitle skeleton-text">Beatles</div>
                      <div class="item-text skeleton-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis
                        tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum
                        sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec
                      dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>