<div class="page" data-name="add_pago">
  <!--MENU-->
  <div class="navbar" style="background-color: white !important;height: 0;">
      <div class="navbar-inner" style="background-color: white !important">
        <div class="left sliding">
          <a class="link back" style="min-width: 48px;">
            <i class="material-icons">arrow_back</i>
          </a>
        </div>
        <div class="title sliding" style="color:#0F7BC3;font-size: 17px;">
          <center>Añadir pago</center>
        </div>
        <div class="right">
        </div>
      </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block">

        <div class="toolbar tabbar toolbar-bottom" style="background-color: transparent;height: 60px;">
          <div class="toolbar-inner"  style="height: 83px;">
            <a href="#tab-credito" class="tab-link tab-link-active weo activess"  style="border:1px solid #0F7BC3;margin: 5px;height: 80px;border-radius: 8px" onclick="tabsPagos(1)">
              <img src="img/pagos/creditCard2.png" style="width: 30%;">
              <p style="margin:0;font-size: 11px">Tarjeta crédito</p>
            </a>
            <a href="#tab-debito" class="tab-link weo" style="border:1px solid #0F7BC3;margin: 5px;height: 80px;border-radius: 8px" onclick="tabsPagos(2)">
              <img src="img/pagos/debitCard2.png" style="width: 30%">
              <p style="margin:0;font-size: 11px">Tarjeta débito</p>
            </a>
            <!--<a href="#tab-efectivo" class="tab-link weo" style="border:1px solid #0F7BC3;margin: 5px;height: 60px;border-radius: 8px">
              <img src="img/efe.png" style="width: 30%;">
              <p style="margin:0;font-size: 11px">Efectivo</p>
            </a>-->
          </div>
        </div>

        <div class="tabs">
          <div id="tab-credito" class="page-content tab tab-active"></div>
          <div id="tab-debito" class="page-content tab"></div>
          <!--<div id="tab-efectivo" class="page-content tab"></div>-->
        </div>

              <!-- Numero de tarjeta -->
        <div class="row" style="margin-top: -80px;">
          <div class="col">
            <div class="list no-hairlines-md  no-hairlines-ios">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label" style="font-weight:bold;font-size: 13px">Número de tarjeta</div>
                      <div class="item-input-wrap">
                        <input type="text" id="cardNumber" placeholder="0000 0000 0000 0000" style="border-bottom: 1px solid;" maxlength="16" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" onKeyDown="if(this.value.length==16) return false;">
                        <input type="hidden" name="tipo_tarjeta" id="tipo_tarjeta" value="Credito">
                        <span class="input-clear-button"></span>
                      </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

              <!-- Fecha de Expiracion y año -->
        <div class="row" style="margin-top: -35px;">
          <div class="col">
            <div class="list no-hairlines-md no-hairlines-ios">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label" style="font-weight: bold;font-size: 13px">Mes</div>
                    <div class="item-input-wrap input-dropdown-wrap">
                        <select id="mes" placeholder="Please choose..." style="border: 1px solid;border-radius: 8px;text-align: center;padding-left: 20px;margin-top: 10px;width: 100%">
                          <option value="01">Enero</option>
                          <option value="02">Febrero</option>
                          <option value="03">Marzo</option>
                          <option value="04">Abril</option>
                          <option value="05">Mayo</option>
                          <option value="06">Junio</option>
                          <option value="07">Julio</option>
                          <option value="08">Agosto</option>
                          <option value="09">septiembre</option>
                          <option value="10">Octubre</option>
                          <option value="11">Noviembre</option>
                          <option value="12">Diciembre</option>
                        </select>
                      </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="list no-hairlines-md  no-hairlines-ios">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label" style="font-weight: bold;font-size: 13px">Año</div>
                    <div class="item-input-wrap input-dropdown-wrap">
                      <select id="ano" placeholder="Please choose..." style="border: 1px solid;border-radius: 8px;text-align: center;padding-left:20px;margin-top: 10px;width: 100%">
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option>
                              <option value="2025">2025</option>
                              <option value="2026">2026</option>
                              <option value="2027">2027</option>
                              <option value="2028">2028</option>
                              <option value="2029">2029</option>
                              <option value="2030">2030</option>
                              <option value="2031">2031</option>
                              <option value="2032">2032</option>
                              <option value="2033">2033</option>
                              <option value="2034">2034</option>
                              <option value="2035">2035</option>
                              <option value="2036">2036</option>
                              <option value="2037">2037</option>
                              <option value="2038">2038</option>
                              <option value="2039">2039</option>
                              <option value="2040">2040</option>
                        </select>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

              <!-- Numero de CVV -->
          <div class="row" style="margin-top: -35px;">
            <div class="col-60">
              <div class="list no-hairlines-md  no-hairlines-ios">
                <ul>
                  <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-title item-label" style="font-weight: bold;font-size: 13px">CVV</div>
                      <div class="item-input-wrap">
                        <input id="cvv" type="number" maxlength="4" placeholder="123" style="border-bottom: 1px solid;" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" onKeyDown="if(this.value.length==4) return false;">
                            <span class="input-clear-button"></span>
                          </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-40"></div>
          </div>

          <!-- Boton de Añadir Pago -->
          <div class="row">
            <div class="col">
              <center>
                <button style="width:80%;margin-top:20px;" id="addPago" class="col button button-fill color-orange">Añadir pago</button>
              </center>
            </div>
          </div>
    </div>
  </div>
</div>
