<div class="page" data-name="cancelar">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="/tab-3/" class="link back">
          <i class="f7-icons" style="color:#FBB540;">arrow_left</i>
        </a>
      </div>
      <div class="title" style="color:#FBB540;">Cancelar Orden</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block">
      <input type="hidden" name="idCancelar" id="idCancelar">
      <h4 style="color:#FBB540;">Políticas de Devolución o Cancelación </h4>

      <p style="text-align: justify;">1. La Política de Devolución le permitirá realizar cancelación de los pedidos sin 
        contactarse necesariamente con el restaurante.  Este proceso se realizará 
      exclusivamente a través de la aplicación.  </p>

      <p style="text-align: justify;">2. Usted tendrá hasta un máximo de un minuto, luego de realizada la orden 
        para cancelar con un cargo de 50% del valor del total de la orden.  Luego de 
      transcurrido el minuto, no habrá reembolso por la orden cancelada.</p>

      <p style="text-align:justify;">3. Una vez la orden ha sido despachada, no puede ser cancelada.</p>

      <div class="block-title">Motivos de la cancelacion</div>
      <div class="list inline-labels no-hairlines-md">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Seleccionar</div>
              <div class="item-input-wrap input-dropdown-wrap">
                <select placeholder="Please choose...">
                  <option value="1">Orden incorrecta</option>
                  <option value="2">Dirección incorrecta</option>
                  <option value="3">Otros</option>
                </select>
              </div>
            </div>
          </li>
          <li class="item-content item-input" style="margin-top: 50px;">
            <div class="item-inner">
              <div class="item-input-wrap">
                <button class="col button button-fill" id="sendCancel">Listo</button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>