<div class="page" data-name="chat-linea">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;">Chat en linea</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
   <div class="list">
    <ul>
      <li>
        <a href="/chat/Juan Perez" class="item-link item-content">
          <div class="item-media">
            <img src="./img/profile-user.png" style="width: 40px;">
          </div>
          <div class="item-inner">
            <div class="item-title">
              <div class="item-header" style="font-weight: bold">Juan Perez</div>
              Hola Doctor
            </div>
            <div class="item-after">04:38 pm</div>
          </div>
        </a>
      </li>
      <li>
        <a href="/chat/Lic. Martha Heredia" class="item-link item-content">
          <div class="item-media">
            <img src="./img/profile-user.png" style="width: 40px;">
          </div>
          <div class="item-inner">
            <div class="item-title">
              <div class="item-header" style="font-weight: bold">Lic. Martha Heredia</div>
              Hablamos luego sobre sus mediacamentos
            </div>
            <div class="item-after">02:38 pm</div>
          </div>
        </a>
      </li>
      <li>
        <a href="/chat/Lynda Jean Haskell" class="item-link item-content">
          <div class="item-media">
            <img src="./img/profile-user.png" style="width: 40px;">
          </div>
          <div class="item-inner">
            <div class="item-title">
              <div class="item-header" style="font-weight: bold">Lynda Jean Haskell</div>
              Buena noticia sobre su operacion
            </div>
            <div class="item-after">4:38 pm</div>
          </div>
        </a>
      </li>
      
    </ul>
  </div>
  </div>
</div>