<div class="page" data-name="contactanos">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;">Información Contacto</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block">
      <div class="row">
        <div class="col">
          <center>
            <img src="./img/logo.png" style="width: 150px;padding-top: 10px;">
          </center>
        </div>
      </div>
      <div class="row" style="margin-top: 30px">
        <div class="col">
          <center>
            <img src="./img/mensaje.png" style="width: 35px;">
            <p style="margin:0;color:#d02122;">Mensaje</p>
          </center>
        </div>
        <div class="col">
          <center>
            <img src="./img/llamada-telefonica.png" style="width: 35px;">
            <p style="margin:0;color:#d02122;">Llamada</p>
          </center>
        </div>
        <div class="col">
          <center>
            <img src="./img/whatsapp.png" style="width: 35px;">
            <p style="margin:0;color:#d02122;">Whatsapp</p>
          </center>
        </div>
      </div> 
      <div class="list">
         <ul>
           <li>
             <div class="item-link item-content">
               <div class="item-inner">
                 <div class="item-title">
                   <div class="item-header" style="color:#d02122;">Gerente General</div>
                   Lorem Ipsum
                 </div>
               </div>
             </div>
           </li>
           <li>
             <div class="item-link item-content">
               <div class="item-inner">
                 <div class="item-title">
                   <div class="item-header" style="color:#d02122;">Teléfono</div>
                   000-000-0000
                 </div>
               </div>
             </div>
           </li>
           <li>
             <div class="item-link item-content">
               <div class="item-inner">
                 <div class="item-title">
                   <div class="item-header" style="color:#d02122;">Correo Electrónico</div>
                   info@doctorclick.com
                 </div>
               </div>
             </div>
           </li>
           <li>
             <div class="item-link item-content">
               <div class="item-inner">
                 <div class="item-title" style="white-space: normal;">
                   <div class="item-header" style="color:#d02122;">Dirección</div>
                   Cll Avenida venezuela #22, Santo domingo este, 11901, Republica Dominicana
                 </div>
               </div>
             </div>
           </li>
         </ul>
       </div>
    </div>
    </div>
</div>