<div class="page" data-name="detalleSolicitud">
    <div class="navbar" style="background-color: white !important; height: 0">
        <div class="navbar-inner sliding" style="background-color: white !important">
          <div class="left">
            <a href="#" class="link back">
              <i class="material-icons">arrow_back</i>
            </a>
          </div>
          <div class="title" style="color: #0f7bc3">Cambio de fecha</div>
        </div>
    </div>
  <div class="page-content">
    <div class="block">
      <div class="block-title">
        El doctor solicito un cambio de fecha en esta cita
      </div>
      <div class="block-title">Horarios disponibles del doctor solicitado</div>
      <div class="row" style="margin-top: 15px;">
        <div class="col">
          <div class="list" id="my-form">
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Fecha</div>
                    <div class="item-input-wrap">
                      <input type="text" name="fechaOpcion2" readonly="readonly" id="fechaOpcion2" placeholder="dd/mm/yyyy">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="list" id="my-form">
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Hora</div>
                    <div class="item-input-wrap">
                      <input type="time" name="horaOpcion2" id="horaOpcion2">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="list accordion-list" style="display: flex">
        <ul>
          <li class="accordion-item">
            <a class="item-content item-link" href="#">
              <div class="item-inner">
                <div class="item-title">Semana</div>
              </div>
            </a>
            <div class="accordion-item-content">
              <div class="block">
                <p>
                  Item 1 content. Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Nulla dignissim viverra velit sed euismod.
                  Mauris sed quam vehicula, dapibus ante a, aliquet augue.
                </p>
              </div>
            </div>
          </li>
        </ul>
        <ul>
          <li class="accordion-item">
            <a class="item-content item-link" href="#">
              <div class="item-inner">
                <div class="item-title">Mes</div>
              </div>
            </a>
            <div class="accordion-item-content">
              <div class="block">
                <p>
                  Item 1 content. Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Nulla dignissim viverra velit sed euismod.
                  Mauris sed quam vehicula, dapibus ante a, aliquet augue.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div> -->
      <div class="row" style="margin-top: 15px;">
        <div class="col">
          <button class="col button button-fill color-orange" id="SendSoliOpcion2" style="width:80%;margin: 0 auto;">ENVIAR SOLICITUD</button>
        </div>
      </div>
    </div>
  </div>
</div>
