<div class="page" data-name="detail-restaurante">
  <!--MENU-->
  <div class="navbar" style="background-image: url('img/shutterstock_476812717.jpg') !important;background-position: center;background-repeat: no-repeat;background-size: cover;height: 70px !important;">
    <div class="navbar-inner" style="background-color: #212121;
    opacity: 0.6;height: 70px;">
      <div class="left sliding">
        <a href="/restaurantes-login/" class="link back"  style="padding: 0 16px;min-width: 48px;">
          <i class="f7-icons" style="color:#FBB540;">chevron_left</i>
        </a>
      </div>
      <div class="title sliding" style="color:#FBB540;font-size: 17px;">Eat Soon</div>
      <div class="right">
      </div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <p style="text-align: center;width: 100%;color: black;font-weight: bold;font-size:8vw;margin-bottom: -8px;" 
    id="nombreRestaurante"></p>
    <form class="searchbar" style="border-radius: 0;margin: 0;width: auto;box-shadow:none;margin-top:13px;background-color: transparent;display: none">
      <div class="searchbar-inner" style="margin-left: 5%;margin-right: 5%;width: 90%;height: 80%;">
        <div class="searchbar-input-wrap">
          <input type="search" placeholder="Buscar..." style="background-color: #ece5e5;border-radius: 15px;">
          <i class="searchbar-icon"></i>
          <span class="input-clear-button"></span>
        </div>
        <span class="searchbar-disable-button if-not-aurora">Cancel</span>
      </div>
    </form>
    <!-- Searchbar backdrop -->
    <div class="searchbar-backdrop"></div>
    <!-- hide-on-search element -->
    <div class="block searchbar-hide-on-search">
      <div class="block-title">MENU</div>
    </div>
    <!-- search target list -->
    <div class="list searchbar-found">
      <ul id="menusii"></ul>
    </div>
    <!-- Nothing found message -->
    <div class="block searchbar-not-found">
      <div class="block-inner">Nothing found</div>
    </div>
  </div>
</div>
