<div class="page" data-name="detalle">
  <!--MENU-->
  <div class="elevation-6" style="background-color: #0074FE; height: auto;">
    <div
      style="display: flex; align-items: center; margin-left: 25px; margin-bottom: -40px;">
      <div style="float: left;">
        <a href="/" class="link back" style="padding: 0 16px;min-width: 48px;">
          <i style="color: white" class="material-icons">navigate_before</i>
        </a>
      </div>
      <div style="float: right;">
        <p style="color: white;font-size: 20px;"><strong>Detalle de la cita</strong></p>
      </div>
    </div>

    <div class="row" style="background-color: #0074FE; margin-top: -40px;">
      <div class="col">
        <div class="list listOrder" style="display: flex; align-items: center; justify-content: space-around;">
          <div class="item-content" style="padding-left: 0px;width: 23em; width: 80%;">
            <div class="item-inner alinea" style="float: right; color: white; margin-left: 10px; padding-right: 0;">
              <div class="item-title" style="font-size: 20px; font-weight: 100; width: 100%;">
                <span class="nombrecentro"></span>
                <div class="item-header fecha_creacion" style="font-weight: 100; font-size: 14px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block">
      <div id="vistacitahecha">
        <div class="block-title">Confirmacion de cita</div>
        <div class="row">
          <ul style="width: 100%; display: flex; justify-content: space-around; padding-left: 0; list-style: none;">
            <li><i class="f7-icons" style="font-size: 15px; color: #0F7BC3;">calendar</i> <span class="fechaCita"></span></li>
            <li><i class="f7-icons" style="font-size: 15px; color: #0F7BC3;">alarm_fill</i> <span class="horaCita"></span></li>
          </ul>
        </div>
        <div class="row">
          <ul style="width: 100%; display: flex; justify-content: space-around; padding-left: 0; list-style: none;">
            <li><i class="f7-icons" style="font-size: 15px; color: #0F7BC3;">briefcase</i> <span class="especialidadCita"></span></li>
            <li><i class="f7-icons" style="font-size: 15px; color: #0F7BC3;">person_alt</i> <span class="especialistaCita"></span></li>
          </ul>
        </div>
        <!-- <p class="especialistaCita"></p> -->
        <div class="block-title centroCita"></div>
        <div class="idmap">
          <div id="map" style="width: 100%;
          height: 300px;
          position: relative;
          overflow: hidden;
          margin-bottom: 10%;
          margin-top: 10px;
          border-radius: 10px;"></div>
        </div>
        <div class="k">
          <div class="row" style="position: absolute; top: 116%;">
            <div class="col tiempoAprox">
              <p>Tiempo aproximado de llegada al centro de salud</p>
              <span class="numtiempoAprox"></span>
            </div>
            <div class="col tiempoEsperaAprox">
              <p>Tiempo de espera aproximada para consulta</p>
              <span class="numtiempoEsperaAprox"></span>
            </div>
          </div>
        </div>
        
        <div class="row" style="margin-top: 15px;">
          <div class="col tiempoAprox" style="width: 40%;">
            <p>Tiempo aproximado de llegada al centro de salud</p>
            <span class="numtiempoAprox"></span>
          </div>
          <div class="col tiempoEsperaAprox" style="width: 40%;">
            <p>Tiempo de espera aproximada para consulta</p>
            <span class="numtiempoEsperaAprox"></span>
          </div>
          <div class="row" style="width: 100%; margin-top: 10px;">
            <button class="col button button-fill color-orange" id="IniciarViajeMap" style="width:80%;margin: 0 auto 20px auto;">Iniciar ruta al centro</button>
          </div>
        </div>
      </div>

      <div id="detallefinalizado">
        <div class="list">
          <div class="block-title"></div>
          <div class="block-title"
            style="text-align: center;color: #0074FE; top: -35px; font-size: 20px; font-weight: 100; overflow: initial;margin-bottom: -45px;">
            Resumen</div>
          <div class="row" style="margin-top: -25px;margin-bottom: -30px;">
            <div class="col" style="display: flex">
              <div id="uldetalleO"></div>
              <div class="list">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-inner" style="height: 70px;">
                        <div class="item-title" style="font-size: 14px;">
                          <span class="fechaCita" style="white-space: normal"></span>
                          <div class="item-footer">Fecha de la cita</div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner" style="height: 70px;">
                        <div class="item-title" style="font-size: 14px;">
                          <span class="centroCita" style="white-space:initial"></span>
                          <div class="item-footer">Centro</div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col">
              <div class="list">
                <ul>
                  <li>
                    <div class="item-content" style="padding-left: 0;">
                      <div class="item-inner" style="height: 70px;">
                        <div class="item-title" style="font-size: 14px;">
                          <span class="horaCita" style="white-space: normal"></span>
                          <div class="item-footer">Hora de la cita</div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content" style="padding-left: 0;">
                      <div class="item-inner" style="height: 70px;">
                        <div class="item-title" style="font-size: 14px;">
                          <span class="especialistaCita" style="white-space:initial"></span>
                          <div class="item-footer">Especialista</div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="block-title"></div>
          <div class="block-title"
            style="text-align: center;color: #0074FE; top: -35px; font-size: 20px; font-weight: 100; overflow: initial;">
            Requerido por</div>
          <ul style="margin-top: -20px;">
            <li style="height: 70px;">
              <div class="item-content">
                <div class="item-inner" style="justify-content: center;">
                  <center>
                    <div class="item-title" style="font-size: 14px;">
                      <span class="pacienteCita" style="white-space: normal"></span>
                      <div class="item-footer">Paciente</div>
                    </div>
                  </center>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="botones" class="desiboton" style="display: flex; justify-content: space-evenly;">
      <button id="editarOrden"
        style="font-size: 16px;padding: 20px 0;color: white;background-color: #32CD32;border: none;width: 40%;border-radius: 10px;">
        Editar</button>
      <button id="cancelOrden"
        style="font-size: 16px;padding: 20px 0;color: white;background-color: #DC143C; border-radius: 10px;border: none;width: 40%;">
        Cancelar</button>
    </div>
</div>
</div>
