<div class="page" data-name="elegir-paciente">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="/" class="link back">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;">Elegir paciente</div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block ">
      <div class="list">
        <ul>
          <li>
            <a href="/centros-elegir-profile/1" class="item-link item-content">
              <div class="item-media">
                <img src="./img/checklist.png" style="width: 40px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Online</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/visita-medica/" class="item-link item-content">
              <div class="item-media">
                <img src="./img/checklist.png" style="width: 40px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Visita medica y Psicologica (en casa)</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/centros-elegir-profile/3" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Cita odontológica.png" style="width: 40px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Centros Odontológicos</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/centros-elegir-profile/4" class="item-link item-content">
              <div class="item-media">
                <img src="./img/checklist.png" style="width: 40px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Laboratorios</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>