<div class="page" data-name="favoritos">
  <div class="navbar" style="background-color: white !important; height: 0">
    <div
      class="navbar-inner sliding"
      style="background-color: white !important"
    >
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons" style="color: #0f7bc3">chevron_left</i>
        </a>
      </div>
      <div class="title" style="color: #0f7bc3">Favoritos</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block">
      <center>
        <div id="persona">
          <div class="list">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media imgUser" id="imgUser" style="width: 25%;"></div>
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header" style="font-size: 16px">
                        Hola
                      </div>
                      <span style="font-weight: 600" class="nameUser"></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </center>
      <div class="list simple-list">
        <ul>
          <li style="margin-left: 20px">
            <div class="item-content">
              <div class="item-media">
                <img src="../img/Hospital.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Centros medicos</div>
              </div>
            </div>
          </li>
          <li style="margin-left: 20px">
            <div class="item-content">
              <div class="item-media">
                <img src="../img/Hospital.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Centro de diagnostico</div>
              </div>
            </div>
          </li>
          <li style="margin-left: 20px">
            <div class="item-content">
              <div class="item-media">
                <img src="../img/iconos/Doctor.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Doctores</div>
              </div>
            </div>
          </li>
          <li style="margin-left: 20px; display: none">Farmacias</li>
        </ul>
      </div>
      <div class="block-title">Listado de favoritos</div>
      <div class="list simple-list">
        <ul>
          <li class="centroM" style="margin-left: 20px"></li>
          <li class="centroD" style="margin-left: 20px"></li>
          <li class="doctor" style="margin-left: 20px"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
