<div class="page" data-name="formulario-medicacion">
    <div class="navbar" style="background-color: white !important; height: 0">
        <div class="navbar-inner" style="background-color: white !important">
          <div class="left sliding">
            <a href="#" class="link back" style="min-width: 48px">
              <i class="material-icons">arrow_back</i>
            </a>
          </div>
          <div class="left sliding" style="display: none" id="otraRedi">
            <a href="#" class="link" style="min-width: 48px">
              <i class="material-icons">arrow_back</i>
            </a>
          </div>
          <div class="title sliding" style="color: #0f7bc3; font-size: 17px">
            <center>Mi perfil medico</center>
          </div>
          <div class="right"></div>
        </div>
    </div>
    <div class="page-content">
        <div class="block">
            <div class="block-title">Medicacion actual</div>
            <div class="caja">
              <div class="row">
                <div class="col">Pastilla</div>
                <div class="col">Miligramos</div>
                <div class="col">Dosis diaria</div>
                <div class="col">Tiempo de medicacion</div>
              </div>
              <div class="row">
                <div class="col"><textarea id="pastilla" style="border: 1px solid black; width: 110%"></textarea></div>
                <div class="col"><textarea id="miligramos" style="border: 1px solid black; width: 110%" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"></textarea></div>
                <div class="col"><textarea id="ddiaria" style="border: 1px solid black; width: 110%"></textarea></div>
                <div class="col"><textarea id="time_medication" style="border: 1px solid black; width: 110%"></textarea></div>
              </div>
              <center><button style="
                width: 30%;
                background-color: transparent;
                border: 1px solid orange;
                color: orange;
                font-weight: 500;
                font-size: 15px;
                height: 30px;
                margin-top: 10px;
            " id="addMedicacion">Agregar</button></center>

              <div id="resultados" style="display: none">
                <div class="block-title">Tu medicacion</div>
                <div class="row">
                  <div class="col">Pastilla</div>
                  <div class="col">Miligramos</div>
                  <div class="col">Dosis diaria</div>
                  <div class="col">Tiempo de medicacion</div>
                </div>
                <div id="listaResult"></div>
              </div>
            </div>
            <div class="block-title">Recomendaciones</div>
            <div class="caja1">
              <div class="row">
                <div class="col">Estudios</div>
                <div class="col">Analisis</div>
                <div class="col">Medicamentos</div>
              </div>
              <div class="row">
                <div class="col"><textarea id="estudios" style="height: 150px; border: 1px solid black; width: 110%"></textarea></div>
                <div class="col"><textarea id="analisis" style="height: 150px; border: 1px solid black; width: 110%"></textarea></div>
                <div class="col"><textarea id="medicamentos" style="height: 150px; border: 1px solid black; width: 110%"></textarea></div>
              </div>
            </div>
            <center>      
                <button class="col button button-fill color-orange" id="enviarForms" style="width:80%;margin: 10px auto;">Enviar</button>
            </center>
        </div>
    </div>
</div>