<div class="page" data-name="formulario-antecedentes">
    <div class="navbar" style="background-color: white !important; height: 0">
        <div class="navbar-inner" style="background-color: white !important">
          <div class="left sliding">
            <a href="#" class="link back" style="min-width: 48px">
              <i class="material-icons">arrow_back</i>
            </a>
          </div>
          <div class="left sliding" style="display: none" id="otraRedi">
            <a href="#" class="link" style="min-width: 48px">
              <i class="material-icons">arrow_back</i>
            </a>
          </div>
          <div class="title sliding" style="color: #0f7bc3; font-size: 17px">
            <center>Mi perfil medico</center>
          </div>
          <div class="right"></div>
        </div>
      </div>
    <div class="page-content">
        <div class="block">
            <div class="block-title">Antecedentes patologicos personales</div>
            <div class="block-title">Personal</div>
            <form>
            <div class="list no-hairlines-md">
                <ul>
                    <div class="row">
                        <li>
                            <label class="item-checkbox item-content">
                              <input id="cardiopatia" type="checkbox" name="demo-checkbox" value="Cardiopatia" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Cardiopatia</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="hipertension" type="checkbox" name="demo-checkbox" value="Hipertension" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Hipertension</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="ecerevslr" type="checkbox" name="demo-checkbox" value="Enfermedad Cerebrovascular" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Enfermedad Cerebrovascular</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="epilepsia" type="checkbox" name="demo-checkbox" value="Epilepsia" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Epilepsia</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="asmabrnq" type="checkbox" name="demo-checkbox" value="Asma Bronquial" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Asma bronquial</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="erespiratoria" type="checkbox" name="demo-checkbox" value="Enfermedad Respiratoria" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Enfermedad Respiratoria (especifique)</div>
                              </div>
                            </label>
                            <div class="item-inner" id="ERConfirm">
                              <div class="item-input-wrap">
                                <textarea id="EresFA" required></textarea>
                              </div>
                            </div>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="diabetes" type="checkbox" name="demo-checkbox" value="Diabetes (Insulina)" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Diabetes (Insulina)</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="tiroides" type="checkbox" name="demo-checkbox" value="Tiroides" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Tiroides</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="obesidad" type="checkbox" name="demo-checkbox" value="Obesidad" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Obesidad</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="prostata" type="checkbox" name="demo-checkbox" value="Prostata" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Prostata</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="ealergias" type="checkbox" name="demo-checkbox" value="Alergias" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Alergias</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="disrenal" type="checkbox" name="demo-checkbox" value="Disfuncion Renal" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Disfuncion Renal</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="cancer" type="checkbox" name="demo-checkbox" value="Cancer" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Cancer</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="hepatopatias" type="checkbox" name="demo-checkbox" value="Hepatopatias" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Hepatopatias</div>
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="erenales" type="checkbox" name="demo-checkbox" value="Enfermedades Renales" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Enfermedades Renales (detalle)</div>
                              </div>
                            </label>
                              <div class="item-inner" id="EREConfirm">
                               <div class="item-input-wrap">
                                  <textarea id="ErenalesFA" required></textarea>
                                </div>
                              </div>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="ehematog" type="checkbox" name="demo-checkbox" value="Enfermedades Hematologicas" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Enfermedades Hematologicas (detalle)</div>
                              </div>
                            </label>
                                <div class="item-inner" id="EHConfirm">
                                  <div class="item-input-wrap">
                                    <textarea id="EHeFA" required></textarea>
                                  </div>
                                </div>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="neoplasias" type="checkbox" name="demo-checkbox" value="Neoplasias" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Neoplasias (detalle)</div>
                              </div>
                            </label>
                                <div class="item-inner" id="NConfirm">
                                  <div class="item-input-wrap">
                                    <textarea id="NFA" required></textarea>
                                  </div>
                                </div>
                          </li>
                          <li>
                            <label class="item-checkbox item-content">
                              <input id="otros" type="checkbox" name="demo-checkbox" value="Otras" />
                              <i style="margin-right: 10px;" class="icon icon-checkbox"></i>
                              <div class="item-inner">
                                <div class="item-title">Otras (detalle)</div>
                              </div>
                            </label>
                                <div class="item-inner" id="OConfirm">
                                  <div class="item-input-wrap">
                                    <textarea id="otrasFA" required></textarea>
                                  </div>
                                </div>
                          </li>
                    </div>
                </ul>
            </div>  
          </form>
            <div class="block-title">Antecedentes personales (hereditarios)</div> 
            <div class="list no-hairlines-md">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Padre</div>
                          <div class="item-input-wrap">
                            <textarea id="AHPadreFA"></textarea>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Madre</div>
                          <div class="item-input-wrap">
                            <textarea id="AHMadreFA"></textarea>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Hermanos</div>
                          <div class="item-input-wrap">
                            <textarea id="AHermanoFA"></textarea>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Abuelos</div>
                          <div class="item-input-wrap">
                            <textarea id="AHAbuelosFA"></textarea>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Tios</div>
                          <div class="item-input-wrap">
                            <textarea id="AHTiosFA"></textarea>
                          </div>
                        </div>
                    </li>
                </ul>
            </div>
            <center>      
                <button class="col button button-fill color-orange" id="form3" style="width:80%;margin: 0 auto;">Siguiente</button>
            </center>
        </div>
    </div>
</div>