<div class="page" data-name="formulario-general">
  <div class="navbar" style="background-color: white !important; height: 0">
    <div class="navbar-inner" style="background-color: white !important">
      <div class="left sliding">
        <a href="#" class="link back" style="min-width: 48px">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="left sliding" style="display: none" id="otraRedi">
        <a href="#" class="link" style="min-width: 48px">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title sliding" style="color: #0f7bc3; font-size: 17px">
        <center>Mi perfil medico</center>
      </div>
      <div class="right"></div>
    </div>
  </div>
  <div class="page-content">
    <div class="block">
      <div class="block-title">Generales</div>
        <div class="list no-hairlines-md">
          <ul>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Nombre y apellido</div>
                <div class="item-input-wrap">
                  <input type="text" id="nombreFG" minlength="3" required/>
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Cedula</div>
                <div class="item-input-wrap">
                  <input type="text" id="cedulaFG" required />
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Nacionalidad</div>
                <div class="item-input-wrap">
                  <input type="text" id="nacionalidadFG" required />
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Telefono</div>
                <div class="item-input-wrap">
                  <input type="text" id="telefonoFG" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required />
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Celular</div>
                <div class="item-input-wrap">
                  <input type="text" id="celularFG" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required />
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <div class="row">
              <form name="myForm">
                <li>
                  <p>Sexo</p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="sexo" value="Hombre" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Hombre</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="sexo" value="Mujer" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Mujer</div>
                    </div>
                  </label>
                </li>
              </form>
            </div>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Edad</div>
                <div class="item-input-wrap">
                  <input type="text" id="edadFG" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required />
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <div class="row">
              <form name="myForm1">
                <li>
                  <p>Estado civil</p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="estatus" value="Soltero" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Soltero</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="estatus" value="Casado" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Casado</div>
                    </div>
                  </label>
                </li>
              </form>
            </div>
            <div class="row">
              <form name="myForm2">
                <li>
                  <p>Seguro</p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="seguro" value="Si"/>
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Si</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="seguro" value="No" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">No</div>
                    </div>
                  </label>
                </li>
              </form>
            </div>
            <li class="item-content item-input" id="seguroConfirm">
              <div class="item-inner">
                <div class="item-title item-label"></div>Cual
              </div>
              <div class="item-input-wrap">
                <input type="text" id="seguroFG" required />
                <span class="input-clear-button"></span>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Lugar de nacimiento</div>
                <div class="item-input-wrap">
                  <input type="text" id="nacimientoFG" required />
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Residencia actual</div>
                <div class="item-input-wrap">
                  <input type="text" id="residenciaFG" required />
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <div class="row">
              <form name="myForm3">
                <li>
                  <p>Religion</p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="religion" value="Catolico" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Catolico</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="religion" value="Protestante" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Protestante</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="religion" value="Testigo de Jehova" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Testigo de Jehova</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="religion" value="Otras" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Otras</div>
                    </div>
                  </label>
                </li>
              </form>
            </div>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Ocupacion</div>
                <div class="item-input-wrap">
                  <input type="text" id="ocupacionFG" required />
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Tiempo en el oficio</div>
                <div class="item-input-wrap">
                  <input type="text" id="tiempo_oficioFG" required />
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Motivo de consulta y breve historia</div>
                <div class="item-input-wrap">
                  <textarea id="motivoFG" required></textarea>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Antecedentes patologicos y medicamentos que usa</div>
                <div class="item-input-wrap">
                  <textarea id="antecedentesFG" required></textarea>
                </div>
              </div>
            </li>
            <div class="row">
              <form name="myForm4">
                <li>
                  <p>Atenciones previas</p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="atencion" value="No" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">No</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="atencion" value="Si" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Si</div>
                    </div>
                  </label>
                </li>
              </form>
            </div>
            <li class="item-content item-input" id="LugarAtencion">
              <div class="item-inner">
                <div class="item-title item-label">¿Donde?</div>
                <div class="item-input-wrap">
                  <input type="text" id="atencionFG" required />
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <div class="row">
              <form name="myForm5">
                <li>
                  <p>Alergias</p>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="alergia" value="No" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">No</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="alergia" value="Si" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title">Si</div>
                    </div>
                  </label>
                </li>
              </form>
            </div>
            <li class="item-content item-input" id="alergiasConfirm">
              <div class="item-inner">
                <div class="item-title item-label">¿A qué?</div>
                <div class="item-input-wrap">
                  <input type="text" id="alergiasFG" required />
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <div class="block-title">Hallazgos positivos del examen fisico</div>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Aspectos generales</div>
                <div class="item-input-wrap">
                  <textarea id="aspecto_generalFG"></textarea>
                </div>
              </div>
            </li>
          </ul>
        </div>
      <center>
        <button class="col button button-fill color-orange" id="form2"
          style="width:80%;margin: 0 auto;">Siguiente</button>
      </center>
    </div>
  </div>
</div>