<div class="page" data-name="pagina-citas">
  <div class="navbar" style="background-color: white !important; height: 0">
    <div
      class="navbar-inner sliding"
      style="background-color: white !important"
    >
      <div class="left">
        <a href="#" class="link back">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="title" style="color: #0f7bc3">Citas</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block">
      <center>
        <div id="persona">
          <div class="list">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media imgUser" id="imgUser" style="width: 25%;"></div>
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header" style="font-size: 16px">
                        Hola
                      </div>
                      <span style="font-weight: 600" class="nameUser"></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </center>
      <div class="searchbar-backdrop"></div>
        <form class="searchbar" style="background-color: transparent;box-shadow: none;">
          <div class="searchbar-inner" style="margin-right: 5%;height: 80%;">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Buscar..." style="background-color: #ece5e5;border-radius: 15px;">
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Cancelar</span>
          </div>
        </form>
      <div class="list links-list">
        <ul>
          <li>
            <a href="#" class="elegirDependienteCita" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Programar cita.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Programar cita</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/citas/" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Mis citas (Historial).png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Mis citas</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/accioncita/" class="item-link item-content">
              <div class="item-media">
                <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Cancelar / editar cita</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/iconos/Próxima cita.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Próxima cita</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img src="../img/flecha-curva.png" style="width: 30px; padding-left: 10px;">
              </div>
              <div class="item-inner">
                <div class="item-title">Chat en linea</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
