<div class="page" data-name="pago">
  <!--MENU-->
  <div class="navbar" style="background-color: white !important;height: 0;">
      <div class="navbar-inner" style="background-color: white !important">
        <div class="left sliding" id="normalRedi">
          <a href="/tab-4/" class="link back" style="min-width: 48px;">
            <i class="material-icons">arrow_back</i>
          </a>
        </div>
        <div class="left sliding" style="display: none" id="otraRedi">
          <a href="/carrito/1" class="link" style="min-width: 48px;">
            <i class="material-icons">arrow_back</i>
          </a>
        </div>
        <div class="title sliding" style="color:#0F7BC3;font-size: 17px;">
          <center>Metodos de pago</center>
        </div>
        <div class="right">
        </div>
      </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block">
      <center><div class="block-title"
        style="padding: 10px; text-align: center;color: #0074FE; border: 1px solid #0074FE; border-radius: 30px; width: 65%; font-size: 17px; font-weight: 100; overflow: initial;">
        Metodo de pago</div></center>
       <div id="pagos">
         <div class="list">
          <ul>
            <li>
              <div class="item-content skeleton-text skeleton-effect-blink">
                <div class="item-media">
                  <div class="skeleton-block" style="width: 40px; height: 40px; border-radius: 50%"></div>
                </div>
                <div class="item-inner">
                  <div class="item-title">
                    <div class="item-header">Tipo</div>
                    **** **** **** '0000
                  </div>
                  <div class="item-after">mes / ano</div>
                </div>
              </div>
            </li>
            <li>
              <div  class="item-content skeleton-text skeleton-effect-blink">
                <div class="item-media">
                  <div class="skeleton-block" style="width: 40px; height: 40px; border-radius: 50%"></div>
                </div>
                <div class="item-inner">
                  <div class="item-title">
                    <div class="item-header">Tipo</div>
                    **** **** **** '0000
                  </div>
                  <div class="item-after">mes / ano</div>
                </div>
              </div>
            </li>
            <li>
              <div  class="item-content skeleton-text skeleton-effect-blink">
                <div class="item-media">
                  <div class="skeleton-block" style="width: 40px; height: 40px; border-radius: 50%"></div>
                </div>
                <div class="item-inner">
                  <div class="item-title">
                    <div class="item-header">Tipo</div>
                    **** **** **** '0000
                  </div>
                  <div class="item-after">mes / ano</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
       </div>
      <div class="row">
        <div class="col">
          <button class="col button button-fill color-orange metodoPagoLink" style="margin:0 auto;width: 80%;">Agregar método de pago</button>
        </div>
      </div>
      <center><div class="block-title"
        style="padding: 10px; text-align: center;color: #0074FE; border: 1px solid #0074FE; border-radius: 30px; width: 65%; font-size: 17px; font-weight: 100; overflow: initial;">
        Historial de pago</div></center>
        <div class="historialPago"></div>
    </div>
  </div>
</div>