<div class="page" data-name="perfil-doctor">
  <div class="navbar" style="background-color: white !important;height: 0">
    <div class="navbar-inner sliding" style="background-color: white !important">
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons" style="color:#0F7BC3;">chevron_left</i>
        </a>
      </div>
      <div class="title" style="color: #0F7BC3;width: 100%;">
         <p style="margin: 0" class="NameLastDoc">Lic. Marcos Castro</p>
      </div>
    </div>
  </div>
  <div class="page-content" style="background-color: white">
    <div class="block ">
      <div class="row">
        <div class="col">
          <center>
            <img src="./img/doctorImg.jpg" style="width: 120px" />
          </center>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="list">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header" style="color: #d02122">Nombre</div>
                      <span class="NameDoc skeleton-text skeleton-effect-pulse">Nombre del doctor</span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header" style="color: #d02122">Apellido</div>
                      <span class="LastNameDoc skeleton-text skeleton-effect-pulse">Lorem Ipsum Net</span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header" style="color: #d02122">Edad</div>
                      <span class="EdadDoc skeleton-text skeleton-effect-pulse">Lorem Ipsum Net</span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header" style="color: #d02122">Especialidad</div>
                      <span class="EspecDoc skeleton-text skeleton-effect-pulse">Lorem Ipsum Net</span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header" style="color: #d02122">Telefono</div>
                      <span class="TelDoc skeleton-text skeleton-effect-pulse">Lorem Ipsum Net</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="col button button-fill color-orange" style="width: 80%;margin: 0 auto;">SOLICITAR SERVICIO</button>
        </div>
      </div>

    </div>
  </div>
</div>