<div class="page" data-name="reset-password">

  <div class="navbar-register">
      <div class="navbar-inner sliding">
        <div class="left sliding">
          <a class="link back" style="padding: 0 16px;min-width: 48px;">
            <i class="f7-icons" style="color:#0F7BC3;">chevron_left</i>
          </a>
        </div>
      </div>
  </div>

  <div class="page-content" id="resetfondo">
   <!--LOGO-->
    <div class="logo-reset" style="margin-top: 50px !important;margin-bottom: 0: ">
      <div class="circle-logo">
        <center>
          <img src="img/caps-lock.png" style="width: 100px;padding:20px;">
        </center>
      </div>
    </div>

    <!--CONTENIDO-->
    <div class="contenido">
       <p style="font-weight: bold;font-size: 21px;margin-bottom: -10px;color: black">Olvidaste tu contraseña</p>
       <p style="margin-bottom: 25px;color: black">Ingresa tu correo electrónico</p>
       <div class="input-container">
        <input class="input-field" style="border-radius: 15px 15px 15px 15px !important;" type="text" placeholder="Correo electronico" name="emailReset" id="emailReset">
      </div>
       <button class="buttn" style="background-color:#0F7BC3 !important;" id="verificar-email">ENVIAR</button>
    </div>

  </div>
</div>
