<div class="page" data-name="send-email">
  <div class="page-content" id="resetfondo" style="background-color: #0F7BC3; /* For browsers that do not support gradients */
  background-image: linear-gradient(to left top, #0F7BC3, white);">
   <!--LOGO-->
    <div class="logo">
      <div class="circle-logo">
        <center>
          <img src="img/tick-1.png" style="width: 90px;padding:30px;">
        </center>
      </div>
    </div>

    <!--CONTENIDO-->
    <div class="contenido">
       <p style="font-weight: bold;font-size: 21px;margin-bottom: -10px;color: black">Correo enviado</p>
       <p style="margin-bottom: 25px;color: black;padding-left: 5%;padding-right: 5%;">Le hemos enviado un enlace con una contraseña temporal a su dirección de correo electrónico registrada.</p>
       <button class="buttn" style="background-color:#0F7BC3 !important;" id="go-login">OK</button>
    </div>

  </div>
</div>

