
/* Credit Card */

.credit-card {
  width            : 100%;
  height           : 400px;
  margin           :0 auto 0;
  border-radius    : 6px;
  background-color : #fff;
}


.selectNumber,
.card-number,
.month input,
.cvv input {
  font-size   : 14px;
  font-weight : 100;
  line-height : 14px;
}

.selectNumber,
.card-number,
.cvv-details,
.cvv-input input,
.month input,
.cvv input {
  color   : #86939e;
  opacity : .7;
}

/* Card Number */

.card-number {
  width : 100% !important;
  height : 42px !important;
  margin-bottom : 10px !important;
  padding-left  : 20px !important;
  border        : 2px solid #e1e8ee !important;
  border-radius : 6px !important;
}

.selectNumber {
  width : 100% !important;
  height : 42px !important;
  margin-bottom : 20px !important;
  padding-left  : 20px !important;
  border        : 2px solid #e1e8ee !important;
  border-radius : 6px !important;
}

/* Date Field */
.month input,
.cvv input {
  -moz-appearance     : none;
  -webkit-appearance  : none;
  margin-bottom       : 10px;
  border-radius       : 6px;
  background-position : 85% 50%;
  width         : 145px;
  float         : left;
  padding-left  : 20px;
  border        : 2px solid #e1e8ee;
  border-radius : 6px;
  background    : #fff;
  margin-right: 5px;
  height : 42px
}

.month input {
  float : left;
}

.cvv input {
  float : right;
}

/* Card Verification Field */
.selectNumber,
.card-number{
  width         : 145px;
  float         : left;
  padding-left  : 20px;
  border        : 2px solid #e1e8ee;
  border-radius : 6px;
  background    : #fff;
}


/* Buttons Section */

.close-btn,
.save-btn {
  width : 100%;
  height : 42px;
  border-color  : transparent;
  border-radius : 6px;
  font-size     : 16px;

}

.save-btn {
  margin-bottom : 10px;
  background    : #7dc855;
  color : #fff;
  text-align: center;
  padding: 10px 40%;
}


.close-btn  {
  background-color : rgba(255, 0, 0, 0.7);
  color: white;
  text-align: center;
}

.selectNumber,
.card-number,
input[type=text]:focus {
  border: 3px solid rgba(0, 111, 173, 0.2);
}

#credit_cards{
  margin-top: 20px;
  margin-bottom: 20px;
}

.transparent {
  opacity: 0.2;
}

.isDisabled {
  color: white;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.eco:after
{
  opacity: 0 !important;
}

/*********************************
**********************************
CUSTOM CSS APP EDITADO
**********************************
**********************************/

/* ICONS TABS MANU COLOR*/
.tabbar a.tab-link {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: none; /*var(--f7-tabbar-link-text-transform)*/
  font-weight: var(--f7-tabbar-link-font-weight);
  letter-spacing: var(--f7-tabbar-link-letter-spacing);
  overflow: hidden;
}

.tabbar .tab-link-active, .tabbar-labels .tab-link-active {
  color: #0F7BC3;
  background-color: var(--f7-tabbar-link-active-bg-color,transparent);
  border-top: 1px solid;
}

.color-tive {
  color: #ff8000 !important;
  /*border: 1px solid #ff8000 !important;*/
}


.activess {
  color: #d02122 !important;
  border: 1px solid #d02122 !important;
}

/* Botones de la paginacion del Slide */
.swiper-pagination-bullet{
  color: white !important;
  background-color: transparent;
  /*border-color: #00b8e5;*/
  border: black 1px solid;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #0F7BC3 !important;
  border: black 1px solid;
}

/* CAJAS DE SERVICIOS */

.carde {
  background: var(--f7-card-bg-color);
  position: relative;
  border-radius: var(--f7-card-border-radius);
  font-size: var(--f7-card-font-size);
  margin-top: var(--f7-card-margin-vertical);
  margin-bottom: var(--f7-card-margin-vertical);
  margin-left: calc(var(--f7-card-margin-horizontal) + var(--f7-safe-area-left));
  margin-right: calc(var(--f7-card-margin-horizontal) + var(--f7-safe-area-right));
  /*box-shadow: var(--f7-card-box-shadow);*/
}

.row:not(.no-gap) .col>.carde {
  margin-left: 0;
  margin-right: 0;
}

.relux{
  height: 0;
}

/* */
.stepper-button-minus:after, .stepper-button-plus:after {
  width: 10px;
  height: 2px;
}

.stepper-button-plus:before {
  height: 10px;
  width: 2px;
}

.toolbar-bottom:after {
  content: '';
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 100%;
  height: 8px;
  top: auto;
  pointer-events: none;
  /*background: var(--f7-toolbar-bottom-shadow-image);*/
  background: transparent;
}

.md .tabbar .tab-link-highlight, .md .tabbar-labels .tab-link-highlight {
  position: absolute;
  height: 2px;
  /*background: var(--f7-tabbar-link-active-border-color,var(--f7-theme-color));*/
  background: transparent;
  transition-duration: .3s;
  left: 0;
}
/*------------------------------*/
/*------------------------------*/
/*--------- Map css /-----------*/
/*------------------------------*/
/*------------------------------*/

#map_canvas { /* Must bigger size than 100x100 pixels */
  width: 100%;
  height: 500px;
}
.cmapi {
  padding: .5em;
  margin: .5em;
}


/* MAPA CSS */
#geomap{
  width: 100%;
  height: 400px; /*900px*/
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;

}

.pac-container {
  z-index: 50000 !important;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input, #pac-input2 {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;

  width: 93%;
  z-index: 10;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 5px;
}

.pac-input:focus {
  /*border-color:;*/
  border:1px solid  #00b8e5;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


/* *//* *//* *//* *//* */
/* *//* *//* *//* *//* */
/* BURBUJAS EN LOS BOTONES*/
/* *//* *//* *//* *//* */
/* *//* *//* *//* *//* 
button::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, hsl(210, 80%, 42%) 3px, hsl(210, 80%, 42%) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, hsl(210, 80%, 42%) 3px, hsl(210, 80%, 42%) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, hsl(210, 80%, 42%) 5px, hsl(210, 80%, 42%) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}
*/
/*.tab-link-active::before {*//*
 .tab-link::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
  radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, hsl(210, 80%, 42%) 3px, hsl(210, 80%, 42%) 4px, transparent 4px),
  radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, hsl(210, 80%, 42%) 3px, hsl(210, 80%, 42%) 4px, transparent 4px),
  radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, hsl(210, 80%, 42%) 5px, hsl(210, 80%, 42%) 6px, transparent 6px),
  radial-gradient(circle at 64% 64%, transparent 0, transparent 4px, hsl(210, 80%, 42%) 7px, hsl(210, 80%, 42%) 6px, transparent 6px),
  radial-gradient(circle at 20% 68%, transparent 0, transparent 4px, hsl(210, 80%, 42%) 6px, hsl(210, 80%, 42%) 3px, transparent 3px),
  radial-gradient(circle at 10% 55%,  transparent 0,  transparent 2px, hsl(210, 80%, 42%) 3px, hsl(210, 80%, 42%) 4px, transparent 4px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: activel 5s linear infinite both;
}

@keyframes activel {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}

*/

/*Test Bound*/
.scroll-touch {
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.scroll-auto {
  -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
}

#myVideo {
  /*position: fixed;*/
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: 100%;
  height: 153px;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
   font-size: 10px
}

/************************************/
/************************************/
/************************************/
/************************************/
/************************************/
/* Remove after del menu IOs */
/* Configuraciones solo de IOS */
/* Eliminar en Android*/
.navbar {
  background-color: white !important;
  height: 55px !important;
}

.navbar:after {
   content: none !important;
}

/************************************/
/************************************/
/************************************/
/************************************/

#nombreApe {
  text-align: center;
  font-size: 20px;
}

.navbar:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 8px;
    pointer-events: none;
    background: none;
}

.subnavbar:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 8px;
    pointer-events: none;
    background: none;
}

.imagenCard {
  height: 300px;
  background-size: cover;
  background-position: center;
  z-index:1;
  max-width: 100%;
  position:relative;
}


.imagenCard::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:-1;
}


/* Carrito stilos**/

.tyc {
  color: #4c9258;
  font-weight: 500;
  margin-bottom: -20px;
}

.tic {
  color:#ff8000;
  font-weight:500;
  margin-bottom: -20px;
}

.hereText {
  margin-top: 20px;
  width: 100%;
  display: none;
  background-color:rgb(245, 245, 245);
  border-radius: 10px;
  height: 80px;
}

.hereTextDetalle {
  margin-top: 20px;
  width: 100%;
  background-color:rgb(245, 245, 245);
  border-radius: 10px;
  height: 155px;
}

.resumenPedido {
  font-size: 17px;
  margin-bottom: -15px;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  color: #757575;
  display: none;
}


.resumenPedidoDetalle {
  font-size: 17px;
  margin-bottom: -15px;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  color: #757575;
}

.simple-list  li:after {
    content: none !important;
    position: absolute;
    background-color: var(--f7-list-item-border-color);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}

/*Text area add car style*/

.styleTextArea {
  background-color: #ececf1;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

.list ul li label .item-media img{
  width: 2.5em;
}

/*.list .item-inner:after, .simple-list li:after {
    content: none;
    position: absolute;
    background-color: var(--f7-list-item-border-color);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}*/

.circle-logo {
  background-color: #0F7BC3;
  border-radius: 100%;
  margin: auto;
  height: 155px;
  width: 155px;
  margin-top: 50px;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}


/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  50px; }
.right-addon input { padding-right: 30px; }

.left-addon input::placeholder{
  color: gray;
}
}
/*//////////////////////////////////////
//////////////////////////////////////
///////////////////////////////////////*/
/*#pswd_info {
    display:none;
}
*/
#pswd_info {
    position:absolute;
    bottom:-75px;
    bottom: -115px\9; /* IE Specific */
    right:55px;
    width:250px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}

#pswd_info li {
    margin:0;
    padding:0;
    list-style-type:none;
    padding-left: 20px !important;
}

#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

/*#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}*/

.invalid {
    background:url(../img/invalid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
    
}
.valid {
    background:url(../img/valid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}

.dis {
  background-color: #9bbfc7 !important;
}

.sub-titleBlock{
    margin-left: 16px;
    margin-bottom: 0;
    color: var(--f7-block-title-text-color);
    margin-top: 0;
    display: none;
}

.sub-titleBlockBebidas{
    margin-left: 16px;
    margin-bottom: 0;
    color: var(--f7-block-title-text-color);
    margin-top: 0;
    display: none;
}

.sub-titleBlockExtra{
    margin-left: 16px;
    margin-bottom: 0;
    color: var(--f7-block-title-text-color);
    margin-top: 0;
    display: none;
}


#form {
  width: 100%;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

.clasificacion input[type="radio"] {
  display: none;
  padding: 4px;
}

.clasificacion label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.clasificacion label:hover,
.clasificacion label:hover ~ label {
  color: orange;
}

 .clasificacion input[type="radio"]:checked ~ label {
  color: orange;
}


.restIOS-navbar {

}

.restAndroid-navbar {
  background-image: url('../img/shutterstock_476812717.jpg') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;height: 70px !important;
}

.restIOS-navbar-inner{

}

.restAndroid-navbar-inner{
  background-color: #212121;
    opacity: 0.6;
    height: 70px;
}

.varTodos {
  color: #2196f3;
  margin: 0;
  width: 100%;
  text-align: right;
  margin-top: 15px;
}

/*LOADER SPINES SALTEN*/
/*

<div class="pan-loader">
  <div class="loader"></div>
  <div class="pan-container">
    <div class="pan"></div>
    <div class="handle"></div>
  </div>
  <div class="shadow"></div>
</div>

*/

$timing: 2s;
$color-shadow: lightgray;
$pan-color-light: #3949AB;
$pan-color-dark: #5C6BC0;
$loader-color: #FDD835;

@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}

@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
  }
}

.pan-loader {
  width: $component-dimension;
  height: $component-dimension;
  // border: 1px solid red;
  margin: 100px auto;
  .loader {
    position: relative;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 45%;
    border: 10px solid transparent;
    border-bottom: 10px solid $loader-color;
    border-radius: 50%;
    animation: loader $timing infinite;
    animation-timing-function: linear;
  }
  .pan-container {
    display:flex;
    width: 100%;
    animation: pan $timing infinite;
  }
  .pan {
    width: 60%;
    height: 20px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .handle {
    width: 40%;
    height: 10px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .shadow {
    position: relative;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 8px;
    background: $color-shadow;
    // box-shadow: 5px 0 8px 4px $color-shadow;
    border-radius: 20px;
    animation: shadow $timing infinite;
  }
}