/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #0F7BC3;
  --f7-theme-color-rgb: 0, 111, 173;
  --f7-theme-color-shade: #005584;
  --f7-theme-color-tint: #0089d6;
}

:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-searchbar-bg-color: var(--f7-bars-bg-color);
  --f7-searchbar-input-bg-color: #fff;
  --f7-searchbar-input-text-color: #000;
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}

/* Your app custom styles here */

.indexfondo{
  /*background-image: url('../img/Recurso-3.png');*/
  background-color: #0f7bc3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* Poner sombra encima de la imagen */
/*.indexfondo::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  z-index:-1;
}*/

#loginfondo{
  background-color: white;
  height: 100%;
}

.titleRgi {
  color: #0F7BC3;
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  padding-right: 75px;
  text-align: justify;
  margin-left: 15px;
  letter-spacing: 3px;
}

#registerfondo{
  /*background-image: url('../img/Recurso-3.png');*/
  background-color:white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.registerfondo::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  z-index:-1;
}

.list-block .item-inner:after {
  display: none !important; 
}

.footer {
  text-align: center;
  color: gray;
  font-size: 15px;
  width: 100%;
  position: absolute;
  bottom: 5px;
}

.footer a {
  text-decoration: none;
  color: #0F7BC3;
  font-weight: bold;
}
/**/
.footer-no {
  text-align: center;
  color: gray;
  font-size: 15px;
  width: 100%;
}

.footer-no a {
  text-decoration: none;
  color: #FBB540;
  font-weight: bold;
}

.logo{
  width: 100%;
  margin-top: 60px;
  margin-bottom: 200px;
}

.logo-reset{
  width: 100%;
  margin-top: 135px;
}

.logo-register{
  width: 100%;
  margin-top: 10px;
}

.logo2{
  width: 100%;
  padding-top: 40%;
}
.material {
  padding-top: 22px !important;
  width: 14px !important;
  height: 24px !important;
  font-size: 14px !important;
}

input {
  font-size: 15px !important;
  color:black !important;
}

.textbox {
  padding-bottom: 10px;
  border-radius: 7px !important;
  border: black 1px solid;
  margin: 15px auto !important;
  width: 80% !important;
  height: 40px !important;
  color:black !important;
  box-sizing: border-box;
  padding-left: 15px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
::placeholder {
  color: black;
  font-size: 13px;
}
 .textbox input {
  font-size: 15px !important;
  height: 100%;
  width:100%;
 }::placeholder {
  color: black !important;
  font-size: 13px;
}

.textbox-no {
  padding-bottom: 10px;
  border-radius: 7px !important;
  border: white 1px solid;
  margin: 15px auto !important;
  width: 80% !important;
  height: 40px !important;
  color:black !important;
  box-sizing: border-box;
  padding-left: 15px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.textbox-no::placeholder {
  color: white !important;
  font-size: 13px;
}

.place {
  color: black;
}::placeholder {
  color: black !important;
  font-size: 13px;
}

 .textbox-no input {
  font-size: 15px !important;
  height: 100%;
  width:100%;
 }


.navbar-register {
  --f7-navbar-large-collapse-progress: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    margin: 0;
    transform: translate3d(0,0,0);
    height: var(--f7-navbar-height);
    background-image: var(--f7-navbar-bg-image,var(--f7-bars-bg-image));
    background-color: white;
    color: var(--f7-navbar-text-color,var(--f7-bars-text-color));
    font-size: var(--f7-navbar-font-size);
}


.buttn
{
  border:none !important;
  border-radius: 5px;
  background-color: #0F7BC3!important;
  height: 40px !important;
  color:white !important;
  text-align: center !important;
  padding: 10px !important;
  width: 80% !important;
  font-size: 15px !important;
}

.contenido {
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px; 
}

#inf{
    text-align: center;
    color: white;
    width: 100%;
    margin-top: -30px;
    margin-bottom: 20px;
}

#inf p {
  padding-left: 60px;
  padding-right: 60px;
  font-size: 13px;
  text-align: center;
}

#inpu{
  width: 100%;
  height: 80px;
}

#inpu a {
  width: 30%;
  float: left;
  height: 35px;
  border-radius: 0 5px 5px 0;
  background-color: #FBB540;
  color: white;
  font-size: 14px;
}

/*Boton de Enviar Zip Code*/
#zip {
    border: solid 1px white;
    width: 50%;
    height: 35px;
    color: white;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    margin-left: 40px;
    float: left;
}

#zip::placeholder {
  color: white !important;
  font-size: 15px;
}

/**************************/
/*******SPINNER DE LOGIN***/
/************************/
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  padding-top: 25%;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #0F7BC3;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* SLIDE CSS */
.slide{
  width: 100%;
  background-color: #0f7bc3;
  height: 200px;
}
/* A bit of demo styles */
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #FBB540;
}
.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}
.demo-swiper {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 300px;
}
.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}

/* Botones de la paginacion del Slide */
.swiper-pagination-bullet{
  color: white !important;
  background-color: #FBB540;
  border-color: #00b8e5;
  border: black 1px solid;
}

.motorista {
  width: 100%;
  height: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
}

@keyframes example {
  0%   { left:0px; top:0px;}
  10%   { left:50px; top:5px;}
  25%  { left:100px; top:10px;}
  40%  { left:150px; top:5px;}
  55%  { left:200px; top:10px;}
  70%  { left:250px; top:5px;}
  85%  { left:300px; top:10px;}
  100%  { left:350px; top:5px;}
}

/*.logo {
  height: 80px;
  box-sizing: content-box;
  padding-top: 8px;
  position: relative;
  background-color: transparent;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  animation-name: colores;
  animation-duration: 3s;
  animation-delay: 0s;
}

@keyframes colores {
  0%   { background-color: #5f451b; }
  25%   { background-color: #5f451b; }
  50%  { background-color: #b98733 }
  75%  { background-color: #b98733 }
  100% { background-color: #FBB540;}
}

@keyframes coloresi {
  0%   {border-top: 0px solid #5f451b  }
  25%   {border-top: 10px solid #5f451b }
  50%  { border-top: 20px solid #b98733  }
  75%  { border-top: 30px solid #b98733  }
  100% { border-top: 50px solid #FBB540 }
}*/

.terminos {
  width: 100%;
  position: absolute;
 bottom: 0
}


.terminos p {
  text-align: center;
  /*padding-left: 35px;
  padding-right: 35px;*/
  font-size: 13px;
}

.terminos a {
  color: #69a1ce;
  text-decoration: underline;
}

.circle-logo {
  background-color: #0F7BC3;
  border-radius: 100%;
  margin: auto;
  height: 155px;
  width: 155px;
}

#resetfondo{
  /*background-image: url('../img/img3.jpg');*/
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* NEW CSS LOGIN APPLY */
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  margin-bottom: 15px;
  width: 80%;
  margin: auto;
  border-radius: 5px !important;
  padding-bottom: 20px;
  height: 45px !important;
}

.icon {
  padding: 10px;
  background: transparent;
  color: white;
  text-align: center;
  border-radius: 15px 0 0 15px;

}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  color:black !important;
  padding-left:10px !important;
  border-radius: 0 15px 15px 0 !important;
  height: 45px;
  border: 1px solid black !important;
}
::placeholder {
  color: black;
  font-size: 15px;
  padding-left:10px;
}

.input-field:focus {
  border: 2px solid #5e1224;
}

.dis {
  background-color: #9bbfc7 !important;
}


/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
 input[type="date"]:before {
    content: attr(placeholder) !important;
    color: white;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }


  #loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}

#loader {
    bottom: 0;
    height: 150px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 200px;
    width: 175px;
}

#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}

#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #0F7BC3 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #CE1126 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #0F7BC3 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #CE1126 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #0F7BC3 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #CE1126 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: #0F7BC3 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #CE1126 none repeat scroll 0 0;
}

#loader .lading {
    background-image: url("../images/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
}

@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}